Repository transitmatters/t-performance-dash, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mathcolo, @idreyn, @skaplan-dev, @devinmatte, @PatrickCleary, @nathan-weinberg, @austinjpaul

.github/CODEOWNERS:

* @mathcolo @idreyn @skaplan-dev @devinmatte @PatrickCleary
.github @mathcolo @nathan-weinberg
.flake8 @mathcolo @nathan-weinberg
deploy.sh @mathcolo @nathan-weinberg
server @austinjpaul @idreyn
server/cloudformation.json @mathcolo @nathan-weinberg
server/.chalice @mathcolo @nathan-weinberg

Fix bug with min and max being flipped (#796)
  common/utils/widgets.ts
Owners: @mathcolo, @idreyn, @skaplan-dev, @devinmatte, @PatrickCleary

Adding Datadog tags
  deploy.sh
  server/cloudformation.json
Owners: @mathcolo, @nathan-weinberg

Adding Datadog tags (#798)
  deploy.sh
  server/cloudformation.json
Owners: @mathcolo, @nathan-weinberg

Using full sha
  deploy.sh
Owners: @mathcolo, @nathan-weinberg

Using full sha (#802)
  deploy.sh
Owners: @mathcolo, @nathan-weinberg

Pin to newer version of poetry, and cleanup package pinning
  README.md
  package.json
  server/app.py
  server/chalicelib/constants.py
  server/chalicelib/dynamo.py
  server/chalicelib/secrets.py
  server/chalicelib/service_levels.py
  server/chalicelib/speed.py
  server/poetry.lock
  server/pyproject.toml
Owners: @mathcolo, @idreyn, @skaplan-dev, @devinmatte, @PatrickCleary, @austinjpaul

Remove setuptools pin
  server/poetry.lock
  server/pyproject.toml
Owners: @austinjpaul, @idreyn

Pin to newer version of poetry, and cleanup package pinning (#804)
  README.md
  package.json
  server/app.py
  server/chalicelib/constants.py
  server/chalicelib/dynamo.py
  server/chalicelib/secrets.py
  server/chalicelib/service_levels.py
  server/chalicelib/speed.py
  server/poetry.lock
  server/pyproject.toml
Owners: @mathcolo, @idreyn, @skaplan-dev, @devinmatte, @PatrickCleary, @austinjpaul

Group common dependencies in single PRs
  .github/dependabot.yml
Owners: @mathcolo, @nathan-weinberg
