Repository transitmatters/t-performance-dash, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, dependencies, backend, frontend, documentation

.github/labeler.yml:

ci/cd:
  - changed-files:
      - any-glob-to-any-file: ['.github/**/*', 'deploy.sh']

dependencies:
  - changed-files:
      - any-glob-to-any-file: ['package.json', 'package-lock.json', 'server/poetry.lock']

backend:
  - changed-files:
      - any-glob-to-any-file: ['**/*.py', 'server/**/*', '.flake8']

frontend:
  - changed-files:
      - any-glob-to-any-file: ['**/*.js', '**/*.jsx', '**/*.ts', '**/*.tsx']

documentation:
  - changed-files:
      - any-glob-to-any-file: ['README.md', 'LICENSE']

Now run on target again
  .github/workflows/label.yml
Labels: ci/cd

1077 add support for ferries (#1078)
  common/api/alerts.ts
  common/api/datadashboard.ts
  common/api/hooks/alerts.ts
  common/components/controls/ControlPanel.tsx
  common/components/controls/MobileControlPanel.tsx
  common/components/inputs/StationSelector.tsx
  common/components/nav/FerryDropdown.tsx
  common/components/nav/FerryRouteSelection.tsx
  common/components/nav/FerrySection.tsx
  common/components/nav/MenuDropdown.tsx
  common/components/widgets/StationSelectorWidget.tsx
  common/constants/baselines.ts
  common/constants/dates.ts
  common/constants/ferry_constants/ferry_eastboston.json
  common/layouts/DashboardLayout.tsx
  common/state/defaults/dateDefaults.ts
  common/types/ridership.ts
  common/utils/middleware.ts
  common/utils/ridership.ts
  common/utils/router.tsx
  common/utils/stations.ts
  modules/dashboard/DesktopHeader.tsx
  modules/headways/charts/HeadwaysHistogram.tsx
  modules/navigation/SideNavigation.tsx
  modules/ridership/RidershipDetails.tsx
  modules/ridership/RidershipGraph.tsx
  modules/ridership/RidershipGraphWrapper.tsx
  modules/ridership/RidershipWidget.tsx
  modules/ridership/utils/utils.ts
  modules/tripexplorer/FerryTripGraphs.tsx
  modules/tripexplorer/TripExplorer.tsx
  modules/tripexplorer/TripGraphs.tsx
  pages/[line]/index.tsx
  pages/[line]/ridership.tsx
  pages/[line]/trips/multi/index.tsx
  pages/[line]/trips/single/index.tsx
  server/chalicelib/aggregation.py
  styles/dashboard.css
Labels: backend, frontend

Fix lint issues after merge
  common/constants/dates.ts
  pages/[line]/ridership.tsx
Labels: frontend

Fixed Merge Error
  styles/dashboard.css
Labels: none

Migrate core Covid Recovery Dashboard UI (#1094)
  common/api/hooks/serviceAndRidership.ts
  common/api/serviceAndRidership.ts
  common/components/charts/TimeSeriesChart/TimeSeriesChart.tsx
  common/components/charts/TimeSeriesChart/types.ts
  common/constants/pages.ts
  modules/landing/Landing.tsx
  modules/navigation/SideNavigation.tsx
  modules/ridership/SystemRidershipDetails.tsx
  modules/serviceAndRidership/CardFrame/CardFrame.tsx
  modules/serviceAndRidership/CardFrame/index.ts
  modules/serviceAndRidership/LineCard/LineCard.module.css
  modules/serviceAndRidership/LineCard/LineCard.tsx
  modules/serviceAndRidership/LineCard/ServiceRidershipChart.tsx
  modules/serviceAndRidership/LineCard/TphChart.tsx
  modules/serviceAndRidership/LineCard/colors.ts
  modules/serviceAndRidership/LineCard/index.ts
  modules/serviceAndRidership/LineGrid/LineGrid.tsx
  modules/serviceAndRidership/LineGrid/index.ts
  modules/serviceAndRidership/LineGrid/sorting.ts
  modules/serviceAndRidership/LineGrid/useInfiniteScroll.ts
  modules/serviceAndRidership/ServiceAndRidershipDash.tsx
  modules/serviceAndRidership/ServiceAndRidershipProvider/ServiceAndRidershipProvider.tsx
  modules/serviceAndRidership/ServiceAndRidershipProvider/context.ts
  modules/serviceAndRidership/ServiceAndRidershipProvider/index.ts
  modules/serviceAndRidership/index.ts
  modules/serviceAndRidership/time.ts
  modules/serviceAndRidership/types.ts
  modules/serviceAndRidership/useServiceAndRidershipContext.ts
  modules/slowzones/map/DirectionIndicator.module.css
  package-lock.json
  package.json
  pages/system/ridership.tsx
  server/.chalice/policy.json
  server/app.py
  server/chalicelib/models.py
  server/chalicelib/service_ridership_dashboard.py
  server/openapi.json
Labels: dependencies, backend, frontend

3-up the ridership grid on big screens
  modules/serviceAndRidership/LineGrid/LineGrid.tsx
Labels: frontend

also prevent the tph chart from getting too tall
  modules/serviceAndRidership/LineCard/TphChart.tsx
Labels: frontend
