Repository transitmatters/t-performance-dash, pull requests merged in 2023-03, with the labels that each got.

#378 Default date selector to today
  common/components/inputs/DateSelector.tsx
  common/utils/router.tsx
Labels: v4

#383 Adding datadog rum
  .env
  .eslintrc.js
  .github/workflows/deploy.yml
  package-lock.json
  package.json
  src/index.js
Labels: ci/cd

#396 [v4] Removing v3 code
  .eslintrc.js
  common/api/datadashboard.ts
  common/components/charts/AggregateLineChart.tsx
  common/types/charts.ts
  modules/dwells/charts/DwellsSingleChart.tsx
  modules/headways/charts/HeadwaysHistogram.tsx
  modules/headways/charts/HeadwaysSingleChart.tsx
  modules/traveltimes/TravelTimesDetails.tsx
  modules/traveltimes/TravelTimesWidget.tsx
  modules/traveltimes/charts/TravelTimesAggregateChart.tsx
  modules/traveltimes/charts/TravelTimesSingleChart.tsx
  server/bus/check_latest_manifests.sh
  src/App.css
  src/App.js
  src/ChartSets.js
  src/OpenSource.js
  src/StationConfiguration.js
  src/alerts/AlertBar.tsx
  src/alerts/AlertFilter.ts
  src/alerts/LegendAlerts.tsx
  src/alerts/types.ts
  src/analytics.ts
  src/charts/Legend.tsx
  src/charts/SelectableCharts.js
  src/charts/Title.tsx
  src/charts/download.tsx
  src/charts/error.tsx
  src/charts/legend.css
  src/charts/line.js
  src/charts/types.ts
  src/constants.ts
  src/index.css
  src/index.js
  src/inputs/Select.tsx
  src/inputs/date.tsx
  src/inputs/radio.tsx
  src/inputs/toggle.css
  src/inputs/types.ts
  src/presets.js
  src/react-app-env.d.ts
  src/slowzones/SlowZoneNav.tsx
  src/slowzones/SlowZones.tsx
  src/slowzones/formattingUtils.ts
  src/slowzones/types.ts
  src/stations.js
  src/stations.json
  src/ui/ProgressBar.css
  src/ui/ProgressBar.js
  src/ui/notes.tsx
  tsconfig.json
Labels: tech-debt, v4

#397 Fix faulty alert logic
  common/types/alerts.ts
  modules/commute/alerts/AlertUtils.ts
  modules/commute/alerts/DelayAlert.tsx
  modules/commute/alerts/ShuttleAlert.tsx
  modules/commute/alerts/SuspensionAlert.tsx
  server/chalicelib/mbta_v3.py
Labels: v4

#376 [v4] Adding a basic station selector to travel times
  common/components/dropdowns/Dropdown.tsx
  common/components/inputs/Button.tsx
  common/components/inputs/Select.tsx
  common/components/inputs/StationSelector.tsx
  common/components/inputs/styles/tailwind.tsx
  common/components/widgets/StationSelectorWidget.tsx
  common/constants/stations.json
  common/types/inputs.ts
  common/types/stations.ts
  common/utils/stations.ts
  modules/dashboard/DataPageHeader.tsx
  modules/dwells/DwellsDetails.tsx
  modules/dwells/DwellsWidget.tsx
  modules/headways/HeadwaysDetails.tsx
  modules/headways/HeadwaysWidget.tsx
  modules/navigation/mobile/SecondaryNavBar.tsx
  modules/traveltimes/TravelTimesDetails.tsx
  package-lock.json
  package.json
  pages/_app.tsx
  scripts/update_stations.py
Labels: v4

#402 [v4] Adding better pickers on desktop and mobile
  common/components/inputs/Button.tsx
  common/components/inputs/DateSelector.tsx
  common/components/inputs/RangeButton.tsx
  common/components/widgets/StationSelectorWidget.tsx
  modules/dashboard/DataPageHeader.tsx
  modules/navigation/mobile/LineSelectorMobile.tsx
  modules/navigation/mobile/SecondaryNavBar.tsx
  package-lock.json
  package.json
Labels: v4

#400 [v4] Updating packages for March 2023
  package-lock.json
  package.json
Labels: v4

#409 Cleaning up the Bus
  common/components/charts/AggregateLineChart.tsx
  common/components/charts/SingleDayLineChart.tsx
  common/components/inputs/StationSelector.tsx
  common/components/notices/BusDataNotice.tsx
  common/components/widgets/Widget.tsx
  common/constants/datapages.ts
  common/types/basicWidgets.ts
  common/utils/stations.ts
  common/utils/time.ts
  modules/headways/HeadwaysDetails.tsx
  modules/headways/charts/HeadwaysSingleChart.tsx
  modules/navigation/desktop/DataPageTabs.tsx
  modules/navigation/mobile/DataPageSelection.tsx
  modules/ridership/RidershipDetails.tsx
  modules/traveltimes/charts/TravelTimesSingleChart.tsx
  public/ridership.json
Labels: v4

#407 Adding OSS licenses page
  .gitignore
  common/components/accordion/Accordion.tsx
  common/constants/licenses/licenseInfos.json
  common/layouts/DashboardLayout.tsx
  common/layouts/Footer.tsx
  package-lock.json
  package.json
  pages/opensource.tsx
Labels: v4

#411 [v4] Cleanup datepicker further
  common/components/inputs/DateSelection/DateConstants.ts
  common/components/inputs/DateSelection/DatePickers.tsx
  common/components/inputs/DateSelection/DateSelection.tsx
  package-lock.json
Labels: v4

#410 V4/date selector
  common/components/inputs/DateSelection/DateConstants.ts
  common/components/inputs/DateSelection/DatePickerPresets.tsx
  common/components/inputs/DateSelection/DatePickers.tsx
  common/components/inputs/DateSelection/DateSelection.tsx
  common/components/inputs/DateSelection/RangeButton.tsx
  common/components/inputs/DateSelection/RangeSelectionTab.tsx
  common/components/inputs/DateSelection/types/DateSelectionTypes.ts
  common/components/inputs/DateSelector.tsx
  common/components/inputs/NativeDateInput.tsx
  common/components/inputs/RangeButton.tsx
  common/components/inputs/styles/tailwind.tsx
  common/layouts/DashboardLayout.tsx
  common/layouts/Layout.tsx
  common/styles/general.ts
  common/types/inputs.ts
  common/utils/router.tsx
  modules/dashboard/DataPageHeader.tsx
  modules/navigation/mobile/BottomNavBar.tsx
  modules/navigation/mobile/SecondaryNavBar.tsx
  package-lock.json
  package.json
  tailwind.config.js
Labels: v4
