Repository transitmatters/t-performance-dash, pull requests merged in 2023-05, with the labels that each got.

#511 V4/szs nb sb
  common/components/general/ButtonGroup.tsx
  common/components/inputs/DateSelection/OverviewDateSelection.tsx
  common/types/dataPoints.ts
  common/utils/general.ts
  common/utils/slowZoneUtils.ts
  modules/slowzones/SlowZonesDetails.tsx
  modules/slowzones/SlowZonesSegmentsWrapper.tsx
  modules/slowzones/TotalSlowTimeWrapper.tsx
  modules/slowzones/charts/LineSegments.tsx
  modules/slowzones/charts/TotalSlowTime.tsx
  modules/slowzones/constants/chartConfig.ts
  modules/slowzones/constants/constants.ts
  modules/slowzones/map/SlowZonesMap.tsx
  modules/slowzones/utils/utils.ts
Labels: v4, frontend

#525 Station Selector UX change
  common/components/inputs/StationSelector.tsx
  common/utils/stations.ts
Labels: frontend

#526 full screen mobile nav and more
  common/layouts/DashboardLayout.tsx
  modules/navigation/BusNavMenu.tsx
  modules/navigation/DashboardSelection.tsx
  modules/navigation/MobileNavHeader.tsx
  modules/navigation/SideNavBar.tsx
  modules/navigation/SideNavigation.tsx
  modules/navigation/SidebarTabs.tsx
  modules/navigation/SubwayNavMenu.tsx
  pages/_document.tsx
  server/scripts/update_stations.py
  tailwind.config.js
Labels: v4, backend, frontend

#459 Swapping from RL keys to line-red
  common/components/graphics/styles/spinnerFillColor.ts
  common/components/inputs/styles/tailwind.tsx
  common/components/notices/BusDataNotice.tsx
  common/constants/colors.ts
  common/constants/lines.ts
  common/constants/pages.ts
  common/styles/general.ts
  common/types/lines.ts
  common/types/styles.ts
  common/utils/router.tsx
  modules/commute/alerts/AlertBox.tsx
  modules/commute/alerts/AlertModal.tsx
  modules/commute/alerts/Alerts.tsx
  modules/commute/alerts/styles/AlertStyles.ts
  modules/dashboard/Overview.tsx
  modules/dwells/DwellsWidget.tsx
  modules/navigation/SubwayNavMenu.tsx
  modules/navigation/styles/lineSelector.ts
  modules/ridership/RidershipDetails.tsx
  modules/ridership/RidershipWidget.tsx
  modules/slowzones/SlowZonesWidget.tsx
  modules/speed/constants/speeds.ts
  server/chalicelib/speed.py
Labels: v4, backend, frontend

#529 Eslint - Prefer named exports
  .eslintrc.js
  common/components/general/Device/index.tsx
  modules/dashboard/Overview.tsx
  modules/dashboard/TodayContainer.tsx
  modules/dwells/DwellsDetails.tsx
  modules/headways/HeadwaysDetails.tsx
  modules/ridership/RidershipDetails.tsx
  modules/ridership/RidershipWidget.tsx
  modules/slowzones/SlowZonesDetails.tsx
  modules/slowzones/SlowZonesWidget.tsx
  modules/slowzones/map/DirectionIndicator.tsx
  modules/slowzones/map/SlowSegmentLabel.tsx
  modules/slowzones/map/SlowZonesTooltip.tsx
  modules/speed/SpeedDetails.tsx
  modules/traveltimes/TravelTimesDetails.tsx
  pages/[line]/dwells.tsx
  pages/[line]/index.tsx
  pages/[line]/overview.tsx
  pages/[line]/ridership.tsx
  pages/[line]/slowzones.tsx
  pages/[line]/speed.tsx
  pages/[line]/traveltimes.tsx
  pages/[line]/trips/dwells.tsx
  pages/[line]/trips/headways.tsx
  pages/[line]/trips/traveltimes.tsx
Labels: v4, frontend

#531 SZT speed restrictions take 2
  common/api/hooks/slowzones.ts
  common/api/slowzones.ts
  common/components/maps/LineMap.tsx
  common/components/maps/diagrams/diagram.ts
  common/types/dataPoints.ts
  modules/dashboard/Today.tsx
  modules/slowzones/SlowZonesDetails.tsx
  modules/slowzones/map/SlowSegmentLabel.tsx
  modules/slowzones/map/SlowZonesMap.stories.tsx
  modules/slowzones/map/SlowZonesMap.tsx
  modules/slowzones/map/SlowZonesTooltip.module.css
  modules/slowzones/map/SlowZonesTooltip.tsx
  modules/slowzones/map/segment.ts
  package.json
  server/scripts/update_speed_restrictions.py
Labels: dependencies, backend, frontend

#514 V4/trips loading
  common/components/charts/AggregateChartWrapper.tsx
  common/components/charts/AggregateLineChart.tsx
  common/components/charts/SingleChartWrapper.tsx
  common/types/charts.ts
  modules/dwells/DwellsDetails.tsx
  modules/dwells/DwellsWidget.tsx
  modules/dwells/charts/DwellsAggregateChart.tsx
  modules/dwells/charts/DwellsSingleChart.tsx
  modules/headways/HeadwaysDetails.tsx
  modules/headways/HeadwaysWidget.tsx
  modules/headways/charts/HeadwaysAggregateChart.tsx
  modules/headways/charts/HeadwaysHistogram.tsx
  modules/headways/charts/HeadwaysHistogramWrapper.tsx
  modules/headways/charts/HeadwaysSingleChart.tsx
  modules/ridership/RidershipWidget.tsx
  modules/traveltimes/TravelTimesDetails.tsx
  modules/traveltimes/TravelTimesWidget.tsx
  modules/traveltimes/charts/TravelTimesAggregateChart.tsx
  modules/traveltimes/charts/TravelTimesSingleChart.tsx
  modules/tripexplorer/BusTripGraphs.tsx
  modules/tripexplorer/SubwayTripGraphs.tsx
Labels: v4, frontend

#527 V4/header and controls
  common/components/controls/ControlPanel.tsx
  common/components/controls/MobileControlPanel.tsx
  common/components/general/ButtonGroup.tsx
  common/components/inputs/Button.tsx
  common/components/inputs/DateSelection/DatePickers.tsx
  common/components/inputs/DateSelection/DateSelection.tsx
  common/components/inputs/DateSelection/OverviewDateSelection.tsx
  common/components/inputs/StationSelector.tsx
  common/components/inputs/styles/tailwind.tsx
  common/components/widgets/StationSelectorWidget.tsx
  common/constants/pages.ts
  common/layouts/DashboardLayout.tsx
  common/styles/general.ts
  modules/commute/alerts/styles/AlertStyles.ts
  modules/dashboard/DataPageHeader.tsx
  modules/dashboard/DesktopHeader.tsx
  modules/dashboard/MobileHeader.tsx
  modules/navigation/MobileNavHeader.tsx
  modules/navigation/RangeTabs.tsx
  modules/navigation/styles/lineSelector.ts
  tailwind.config.js
Labels: v4, frontend

#535 Adding favicon, meta and titles
  common/layouts/PageWrapper.tsx
  modules/dashboard/Overview.tsx
  modules/dashboard/Today.tsx
  modules/dwells/DwellsDetails.tsx
  modules/headways/HeadwaysDetails.tsx
  modules/ridership/RidershipDetails.tsx
  modules/slowzones/SlowZonesDetails.tsx
  modules/speed/SpeedDetails.tsx
  modules/traveltimes/TravelTimesDetails.tsx
  modules/tripexplorer/TripExplorer.tsx
  pages/404.tsx
  pages/[line]/dwells.tsx
  pages/[line]/overview.tsx
  pages/[line]/traveltimes.tsx
  pages/_app.tsx
  pages/_document.tsx
  pages/index.tsx
  pages/opensource.tsx
  public/favicon.ico
  public/index.html
  public/logo.png
  public/manifest.json
Labels: v4, frontend

#538 API routes for service levels and ridership
  server/app.py
  server/chalicelib/data_funcs.py
  server/chalicelib/dynamo.py
  server/chalicelib/ridership.py
  server/chalicelib/service_levels.py
  server/poetry.lock
  server/pyproject.toml
  server/scripts/update_speed_restrictions.py
  server/scripts/update_stations.py
Labels: dependencies, v4, backend

#524 2023 data feed update
  README.md
  server/bus/gen_latest_bus_data.sh
  server/bus/setup_bus_input.sh
  server/rapid/setup_rapid_input.sh
  src/constants.ts
Labels: backend, frontend

#536 V4/null speed values
  modules/commute/speed/utils/utils.ts
  modules/speed/SpeedDetailsWrapper.tsx
  modules/speed/SpeedGraph.tsx
  modules/speed/SpeedOverviewWrapper.tsx
Labels: v4, frontend

#540 Eslint === and !== rules
  .eslintrc.js
  modules/commute/alerts/DelayAlert.tsx
  modules/navigation/SidebarTabs.tsx
Labels: v4, frontend

#539 Remove duplicate travel times
  server/chalicelib/data_funcs.py
Labels: bug, backend

#541 Setting selected datepicker color to match line
  common/components/inputs/DateSelection/DatePickers.tsx
  pages/_document.tsx
  styles/dashboard.css
Labels: v4, frontend

#552 Change button colors
  modules/commute/alerts/AlertBox.tsx
  modules/commute/alerts/AlertBoxInner.tsx
  modules/commute/alerts/Alerts.tsx
  modules/commute/speed/Speed.tsx
Labels: v4, frontend

#433 Watermarking charts
  common/components/charts/AggregateLineChart.tsx
  common/components/charts/SingleDayLineChart.tsx
  modules/headways/charts/HeadwaysHistogram.tsx
  modules/ridership/charts/ServiceRidershipChart.tsx
  modules/ridership/charts/TphChart.tsx
  modules/service/ServiceGraph.tsx
  modules/slowzones/charts/LineSegments.tsx
  modules/slowzones/charts/TotalSlowTime.tsx
  modules/speed/SpeedGraph.tsx
  package-lock.json
  package.json
  public/Logo_wordmark.png
Labels: dependencies, v4, frontend

#553 V4/close nav
  common/layouts/DashboardLayout.tsx
  modules/navigation/BusNavMenu.tsx
  modules/navigation/BusSelection.tsx
  modules/navigation/DesktopSideNavBar.tsx
  modules/navigation/LineSelection.tsx
  modules/navigation/SubwayNavMenu.tsx
Labels: bug, v4, frontend

#558 some style changes
  common/components/charts/AggregateLineChart.tsx
  common/constants/colors.ts
  common/types/charts.ts
  modules/headways/charts/HeadwaysHistogram.tsx
  modules/traveltimes/charts/TravelTimesAggregateChart.tsx
  modules/tripexplorer/SubwayTripGraphs.tsx
Labels: frontend

#549 V4/chart annotations
  common/constants/colors.ts
  common/constants/service.ts
  modules/service/ServiceGraph.tsx
  modules/service/utils/graphUtils.ts
  package-lock.json
  package.json
Labels: dependencies, frontend

#557 Travel Times by Hour Chart
  common/components/charts/AggregateChartWrapper.tsx
  common/components/charts/AggregateLineChart.tsx
  common/components/charts/SingleDayLineChart.tsx
  common/constants/charts.ts
  common/constants/colors.ts
  common/types/charts.ts
  modules/headways/charts/HeadwaysHistogram.tsx
  modules/ridership/charts/ServiceRidershipChart.tsx
  modules/ridership/charts/TphChart.tsx
  modules/service/ServiceGraph.tsx
  modules/slowzones/charts/LineSegments.tsx
  modules/slowzones/charts/TotalSlowTime.tsx
  modules/speed/SpeedGraph.tsx
  modules/traveltimes/TravelTimesDetails.tsx
  modules/traveltimes/charts/TravelTimesAggregateChart.tsx
  modules/tripexplorer/SubwayTripGraphs.tsx
Labels: v4, frontend

#559 bug fix
  modules/commute/alerts/Time.tsx
Labels: frontend

#565 convert to Next Links, add shallow routing
  common/components/inputs/DateSelection/OverviewDateSelection.tsx
  common/utils/router.tsx
  modules/dashboard/HomescreenWidgetTitle.tsx
  modules/navigation/BusSelection.tsx
  modules/navigation/DashboardSelection.tsx
  modules/navigation/LineSelection.tsx
  modules/navigation/SidebarTabs.tsx
  modules/navigation/utils/rangeTabUtils.ts
Labels: v4, frontend

#556 V4/side nav fix
  common/components/buttons/DonateButton.tsx
  common/components/buttons/FeedbackButton.tsx
  modules/navigation/DashboardSelection.tsx
  modules/navigation/DesktopSideNavBar.tsx
  modules/navigation/MobileNavHeader.tsx
  modules/navigation/SideNavigation.tsx
  package-lock.json
  package.json
Labels: dependencies, v4, frontend

#574 Updating packages and cleaning up
  .github/workflows/build.yml
  common/constants/licenses/licenseInfos.json
  modules/service/ServiceGraph.tsx
  next.config.js
  package-lock.json
  package.json
  public/vercel.svg
  server/app.py
  server/poetry.lock
  server/pyproject.toml
Labels: ci/cd, dependencies, v4, backend, frontend

#572 feat: basic system slowzones tab
  common/constants/dashboardTabs.ts
  common/constants/pages.ts
  common/utils/router.tsx
  modules/dashboard/DesktopHeader.tsx
  modules/navigation/BusNavMenu.tsx
  modules/navigation/LineSelection.tsx
  modules/navigation/SideNavigation.tsx
  modules/navigation/SidebarTabs.tsx
  modules/navigation/SubwayNavMenu.tsx
  modules/navigation/SystemNavMenu.tsx
  pages/system/index.tsx
  pages/system/slowzones.tsx
Labels: frontend

#583 Fix chart flicker
  modules/traveltimes/charts/TravelTimesAggregateChart.tsx
Labels: frontend

#585 Add dates to widget titles
  common/state/utils/dashboardUtils.ts
  modules/dashboard/HomescreenWidgetTitle.tsx
  modules/dashboard/WidgetTitle.tsx
Labels: v4, frontend

#579 Shrink Legend
  common/components/charts/Legend.tsx
Labels: v4, frontend

#582 V4/delta widget
  common/components/widgets/internal/BasicWidgetDataLayout.tsx
  common/types/basicWidgets.ts
  common/utils/time.ts
  modules/slowzones/map/SlowZonesTooltip.tsx
Labels: bug, frontend

#592 Shorter Date and small style changes
  common/constants/dates.ts
  common/state/utils/dashboardUtils.ts
  modules/ridership/RidershipWidget.tsx
  modules/service/ServiceOverviewWrapper.tsx
  modules/speed/SpeedOverviewWrapper.tsx
Labels: v4, frontend

#591 Chart Divs
  common/components/charts/AggregateLineChart.tsx
  common/components/charts/ChartBorder.tsx
  common/components/charts/ChartDiv.tsx
  common/components/charts/SingleDayLineChart.tsx
  common/components/general/DownloadButton.tsx
  modules/headways/charts/HeadwaysHistogram.tsx
Labels: v4, frontend
