Repository transitmatters/t-performance-dash, pull requests merged in 2023-04, with the labels that each got.

#399 server changes to add speed API
  server/.chalice/policy.json
  server/app.py
  server/chalicelib/dynamo.py
  server/chalicelib/mbta_v3.py
  server/chalicelib/speed.py
  server/frontend-cfn.json
Labels: v4

#435 Extract widget delta into separate component, and add MPH Widget
  common/components/widgets/internal/BasicWidgetDataLayout.tsx
  common/components/widgets/internal/Delta.tsx
  common/types/basicWidgets.ts
Labels: v4

#440 Better enforcing eslint
  .eslintrc.js
  common/components/accordion/Accordion.tsx
  common/components/graphics/LoadingSpinner.tsx
  common/components/inputs/DateSelection/DateSelection.tsx
  modules/commute/alerts/AlertModal.tsx
  modules/dashboard/DataPageHeader.tsx
  modules/dashboard/TodaysCommute.tsx
  modules/navigation/desktop/SideNavBar.tsx
  modules/navigation/mobile/LineSelectorMobile.tsx
  package.json
Labels: ci/cd, v4

#434 V4/speed graph
  common/api/speed.ts
  common/components/charts/AggregateLineChart.tsx
  common/components/graphics/ChartPlaceHolder.tsx
  common/types/api.ts
  common/types/dataPoints.ts
  modules/dashboard/LineHealth.tsx
  modules/slowzones/TotalSlowTimeWrapper.tsx
  modules/slowzones/charts/TotalSlowTime.tsx
  modules/speed/SpeedGraph.tsx
  modules/speed/SpeedWidget.tsx
  modules/speed/SpeedWidgetWrapper.tsx
  modules/speed/constants/speeds.ts
  modules/speed/utils/utils.ts
Labels: v4

#441 Adding storybook and bezier packages
  package-lock.json
  package.json
Labels: dependencies, v4

#390 V4/speed metric
  common/components/general/InfoTooltip.tsx
  common/components/graphics/ChartPlaceHolder.tsx
  common/components/graphics/LoadingSpinner.tsx
  common/components/notices/ErrorNotice.tsx
  common/components/widgets/internal/BasicWidgetDataLayout.tsx
  common/components/widgets/internal/BigDelta.tsx
  common/components/widgets/internal/CompWidget.tsx
  common/components/widgets/internal/SimpleDeltaWidget.tsx
  modules/commute/alerts/Alerts.tsx
  modules/commute/speed/Speed.tsx
  modules/commute/speed/utils/utils.ts
  modules/dashboard/TodaysCommute.tsx
  modules/speed/constants/speeds.ts
  package-lock.json
  package.json
  tailwind.config.js
Labels: v4

#450 Fixing Trains vs Buses on graphs
  modules/headways/charts/HeadwaysAggregateChart.tsx
  modules/headways/charts/HeadwaysHistogram.tsx
  modules/headways/charts/HeadwaysSingleChart.tsx
Labels: v4

#457 Fix segments view to show 'ongoing' SZs
  common/components/general/ButtonGroup.tsx
  common/constants/dates.ts
  common/utils/slowZoneUtils.ts
  modules/ridership/RidershipDetails.tsx
  modules/slowzones/charts/LineSegments.tsx
Labels: v4

#437 Slow Zones map visualization
  .eslintrc.js
  .npmrc
  .storybook/main.js
  .storybook/preview.js
  common/components/maps/LineMap.module.css
  common/components/maps/LineMap.stories.tsx
  common/components/maps/LineMap.tsx
  common/components/maps/diagrams/commands.ts
  common/components/maps/diagrams/diagram.ts
  common/components/maps/diagrams/execute.ts
  common/components/maps/diagrams/index.ts
  common/components/maps/diagrams/lines.ts
  common/components/maps/diagrams/path.ts
  common/components/maps/diagrams/types.ts
  common/components/maps/index.ts
  common/components/maps/useDiagramCoordinates.ts
  common/components/maps/useLineTooltip.ts
  common/components/widgets/internal/BasicWidgetDataLayout.tsx
  common/components/widgets/internal/Delta.tsx
  common/hooks/useViewport.ts
  common/types/basicWidgets.ts
  common/utils/date.ts
  common/utils/slowZoneUtils.ts
  common/utils/stations.ts
  common/utils/time.ts
  modules/slowzones/SlowZonesDetails.tsx
  modules/slowzones/map/DirectionIndicator.module.css
  modules/slowzones/map/DirectionIndicator.tsx
  modules/slowzones/map/SlowSegmentLabel.module.css
  modules/slowzones/map/SlowSegmentLabel.tsx
  modules/slowzones/map/SlowZonesMap.stories.tsx
  modules/slowzones/map/SlowZonesMap.tsx
  modules/slowzones/map/SlowZonesTooltip.module.css
  modules/slowzones/map/SlowZonesTooltip.tsx
  modules/slowzones/map/index.ts
  modules/slowzones/map/segment.ts
  modules/slowzones/types.ts
Labels: v4

#463 V4/line seg bug
  modules/slowzones/charts/LineSegments.tsx
Labels: v4

#462 Eslint `prefer-destructuring` rule
  .eslintrc.js
  common/components/alerts/AlertFilter.ts
  common/components/charts/SingleDayLineChart.tsx
  common/components/charts/Title.tsx
  modules/headways/charts/HeadwaysHistogram.tsx
  modules/speed/SpeedGraph.tsx
Labels: v4

#461 Adding a notice for terminus stations
  common/components/notices/BusDataNotice.tsx
  common/components/notices/TerminusNotice.tsx
  common/constants/stations.json
  common/types/stations.ts
  modules/dwells/DwellsDetails.tsx
  modules/headways/HeadwaysDetails.tsx
  modules/traveltimes/TravelTimesDetails.tsx
  modules/tripexplorer/TripExplorer.tsx
Labels: v4

#454 V4/speed changes
  common/components/inputs/DateSelection/OverviewDateSelection.tsx
  common/constants/dates.ts
  modules/commute/speed/Speed.tsx
  modules/dashboard/LineHealth.tsx
  modules/speed/SpeedGraph.tsx
  modules/speed/SpeedWidget.tsx
  modules/speed/SpeedWidgetWrapper.tsx
  modules/speed/constants/speeds.ts
  modules/speed/utils/utils.ts
Labels: v4

#474 remove separate pages for single/range
  pages/[line]/singleday/dwells.tsx
  pages/[line]/singleday/headways.tsx
  pages/[line]/singleday/index.tsx
  pages/[line]/singleday/traveltimes.tsx
  pages/[line]/trips/dwells.tsx
  pages/[line]/trips/headways.tsx
  pages/[line]/trips/index.tsx
  pages/[line]/trips/traveltimes.tsx
Labels: v4

#431 Read stations from url params part 1
  common/components/widgets/StationSelectorWidget.tsx
  common/types/router.ts
  common/utils/router.tsx
  common/utils/stations.ts
  modules/dwells/DwellsDetails.tsx
  modules/headways/HeadwaysDetails.tsx
  modules/traveltimes/TravelTimesDetails.tsx
Labels: v4

#458 V4/nav rework
  common/api/slowzones.ts
  common/constants/dashboardTabs.ts
  common/constants/datapages.ts
  common/constants/dates.ts
  common/constants/pages.ts
  common/layouts/DashboardLayout.tsx
  common/styles/general.ts
  common/types/dataPages.ts
  common/types/router.ts
  common/utils/router.tsx
  modules/dashboard/DataPageHeader.tsx
  modules/dashboard/LineHealth.tsx
  modules/dashboard/Overview.tsx
  modules/dashboard/Today.tsx
  modules/dashboard/TodayContainer.tsx
  modules/dashboard/TodaysCommute.tsx
  modules/navigation/BusNavMenu.tsx
  modules/navigation/BusSelection.tsx
  modules/navigation/DashboardSelection.tsx
  modules/navigation/LineSelection.tsx
  modules/navigation/RangeTabs.tsx
  modules/navigation/SideNavBar.tsx
  modules/navigation/SideNavigation.tsx
  modules/navigation/SidebarTabs.tsx
  modules/navigation/SubwayNavMenu.tsx
  modules/navigation/desktop/BusDropdownItem.tsx
  modules/navigation/desktop/DataPageTabs.tsx
  modules/navigation/desktop/LinesDropdownItem.tsx
  modules/navigation/desktop/SideNavigation.tsx
  modules/navigation/mobile/BottomNavBar.tsx
  modules/navigation/mobile/DataPageSelection.tsx
  modules/navigation/mobile/LineSelectorMobile.tsx
  modules/navigation/mobile/SecondaryNavBar.tsx
  package-lock.json
  pages/[line]/headways.tsx
  pages/[line]/index.tsx
  pages/[line]/overview.tsx
Labels: v4

#482 Fix Bus trip explorer page
  common/api/datadashboard.ts
  common/types/api.ts
  modules/tripexplorer/BusTripGraphs.tsx
  modules/tripexplorer/SubwayTripGraphs.tsx
  modules/tripexplorer/TripExplorer.tsx
  modules/tripexplorer/TripGraphs.tsx
Labels: v4

#484 Add widget data box style to trip explorer
  common/components/widgets/BasicDataWidgetItem.tsx
  common/components/widgets/StationSelectorWidget.tsx
  common/components/widgets/WidgetDiv.tsx
  modules/dashboard/Today.tsx
  modules/dwells/DwellsDetails.tsx
  modules/dwells/DwellsWidget.tsx
  modules/headways/HeadwaysDetails.tsx
  modules/headways/HeadwaysWidget.tsx
  modules/ridership/RidershipDetails.tsx
  modules/ridership/RidershipWidget.tsx
  modules/slowzones/SlowZonesDetails.tsx
  modules/slowzones/SlowZonesWidget.tsx
  modules/speed/SpeedWidget.tsx
  modules/traveltimes/TravelTimesDetails.tsx
  modules/traveltimes/TravelTimesWidget.tsx
  modules/tripexplorer/BusTripGraphs.tsx
  modules/tripexplorer/SubwayTripGraphs.tsx
  modules/tripexplorer/TripExplorer.tsx
Labels: v4

#491 [v4] Notice on Speed when shuttling
  common/utils/emoji.ts
  modules/commute/alerts/AlertBox.tsx
  modules/commute/speed/Speed.tsx
Labels: v4

#495 Updating package.json/lock to satisfy dependabot
  README.md
  package-lock.json
  package.json
Labels: dependencies

#472 V4/date preset logic
  common/components/inputs/DateSelection/DatePickerPresets.tsx
  common/components/inputs/DateSelection/DatePickers.tsx
  common/components/inputs/DateSelection/DateSelection.tsx
  common/components/inputs/DateSelection/OverviewDateSelection.tsx
  common/components/inputs/DateSelection/types/DateSelectionTypes.ts
  common/constants/dashboardTabs.ts
  common/constants/dates.ts
  common/layouts/DashboardLayout.tsx
  common/state/dashboardConfig.ts
  common/state/datePresetConfig.ts
  common/state/defaults/dashboardDefaults.ts
  common/state/defaults/datePresetDefaults.ts
  common/state/utils/dashboardUtils.ts
  common/state/utils/datePresetUtils.ts
  common/utils/firstLoad.ts
  common/utils/router.tsx
  modules/navigation/RangeTabs.tsx
  modules/navigation/utils/rangeTabUtils.ts
  pages/_app.tsx
Labels: v4

#492 Station can sometimes be undefined
  modules/commute/alerts/AlertUtils.ts
  modules/commute/alerts/DelayAlert.tsx
  modules/commute/alerts/ShuttleAlert.tsx
  modules/commute/alerts/SuspensionAlert.tsx
Labels: bug, v4

#509 V4/trip style
  common/components/charts/AggregateLineChart.tsx
  common/components/charts/Legend.tsx
  common/components/charts/SingleDayLineChart.tsx
  common/components/charts/styles/Legend.module.css
  common/components/general/DownloadButton.tsx
  modules/speed/SpeedWidgetWrapper.tsx
Labels: v4

#493 Parsing config params from v3 links
  common/components/widgets/Widget.tsx
  common/types/lines.ts
  common/utils/router.tsx
  middleware.ts
Labels: v4

#513 Shortened station names
  common/constants/stations.json
  common/types/stations.ts
Labels: v4

#395 Adding labeler action
  .github/labeler.yml
  .github/workflows/label.yml
Labels: ci/cd

#519 Labeler update
  .github/labeler.yml
  .github/workflows/label.yml
Labels: ci/cd

#488 Storybook Upgrade
  .babelrc.json
  .gitignore
  .storybook/main.js
  package-lock.json
  package.json
Labels: dependencies, v4

#521 V4 Missing Data Message on Charts
  common/components/charts/AggregateLineChart.tsx
  common/components/charts/SingleDayLineChart.tsx
  common/utils/chartError.ts
  modules/headways/charts/HeadwaysHistogram.tsx
Labels: v4, frontend

#522 Wire up Datadog Tracing
  .github/workflows/deploy.yml
  deploy.sh
  server/.chalice/config.json
  server/app.py
  server/frontend-cfn.json
  server/poetry.lock
  server/pyproject.toml
Labels: ci/cd, dependencies, backend
