Repository transitmatters/t-performance-dash, pull requests merged in 2023-06, with the labels that each got.

#594 Cleaning up footer and sidebar
  common/components/buttons/FeedbackButton.tsx
  common/constants/pages.ts
  common/layouts/Footer.tsx
Labels: v4, frontend

#563 Adding basic goatcounter
  common/utils/constants.ts
  next.config.js
  package-lock.json
  package.json
  pages/_app.tsx
Labels: dependencies, v4, frontend

#584 Data Widget Carousel
  common/components/general/WidgetCarousel.tsx
  common/components/widgets/WidgetDiv.tsx
  common/components/widgets/internal/WidgetForCarousel.tsx
  common/utils/headways.ts
  common/utils/traveltimes.ts
  modules/dashboard/HomescreenWidgetTitle.tsx
  modules/dashboard/WidgetTitle.tsx
  modules/headways/HeadwaysAggregateWrapper.tsx
  modules/traveltimes/TravelTimesAggregateWrapper.tsx
  modules/traveltimes/TravelTimesDetails.tsx
  modules/tripexplorer/SubwayTripGraphs.tsx
Labels: v4, frontend

#593 Dwells Aggregate Widget
  common/utils/dwells.ts
  modules/dwells/DwellsAggregateWrapper.tsx
  modules/tripexplorer/SubwayTripGraphs.tsx
Labels: v4, frontend

#589 Add Layouts
  common/layouts/DashboardLayout.tsx
  common/layouts/LandingLayout.tsx
  common/layouts/Layouts.tsx
  common/layouts/PrimaryLayout.tsx
  common/layouts/layoutTypes.ts
  modules/dashboard/Overview.tsx
  modules/dashboard/TodayContainer.tsx
  modules/dwells/DwellsDetails.tsx
  modules/headways/HeadwaysDetails.tsx
  modules/ridership/RidershipDetails.tsx
  modules/service/ServiceDetails.tsx
  modules/slowzones/SlowZonesDetails.tsx
  modules/speed/SpeedDetails.tsx
  modules/traveltimes/TravelTimesDetails.tsx
  modules/tripexplorer/TripExplorer.tsx
  pages/404.tsx
  pages/_app.tsx
  pages/index.tsx
  pages/opensource.tsx
  pages/system/index.tsx
  pages/system/slowzones.tsx
Labels: v4, frontend

#596 V4/service widget update
  common/components/charts/CarouselGraphDiv.tsx
  common/components/general/WidgetCarousel.tsx
  modules/headways/HeadwaysAggregateWrapper.tsx
  modules/service/PercentageServiceGraph.tsx
  modules/service/PercentageServiceGraphWrapper.tsx
  modules/service/ServiceDetails.tsx
  modules/service/ServiceDetailsWrapper.tsx
  modules/service/ServiceGraph.tsx
  modules/service/ServiceGraphWrapper.tsx
  modules/service/utils/utils.ts
  modules/traveltimes/TravelTimesAggregateWrapper.tsx
Labels: v4, frontend

#613 Removing unused icons
  public/Icons/Close.svg
  public/Icons/Heart.svg
  public/Icons/Menu.svg
  public/Icons/Message.svg
  public/Icons/Profile.svg
  public/Icons/Star.svg
  public/Icons/Train.svg
  public/arrow.svg
Labels: v4

#616 feat: change position of system nav item
  common/constants/dashboardTabs.ts
Labels: frontend

#612 Adding link to trips page for slowzone segment
  common/types/dataPoints.ts
  common/utils/stations.ts
  modules/slowzones/SlowZonesDetails.tsx
  modules/slowzones/SlowZonesSegmentsWrapper.tsx
  modules/slowzones/charts/LineSegments.tsx
Labels: v4, frontend

#599 V4/single day widget update
  common/utils/traveltimes.ts
  modules/traveltimes/TravelTimesSingleWrapper.tsx
  modules/tripexplorer/BusTripGraphs.tsx
  modules/tripexplorer/SubwayTripGraphs.tsx
Labels: v4, frontend

#597 V4/speed widget update
  modules/speed/SpeedDetailsWrapper.tsx
  modules/speed/SpeedGraph.tsx
  modules/speed/SpeedGraphWrapper.tsx
  modules/speed/SpeedOverviewWrapper.tsx
  modules/speed/SpeedWidget.tsx
Labels: v4, frontend

#598 V4/sz widget update
  common/types/basicWidgets.ts
  modules/slowzones/SlowZonesDetails.tsx
  modules/slowzones/SlowZonesSegmentsWrapper.tsx
  modules/slowzones/SlowZonesWidget.tsx
  modules/slowzones/TotalSlowTimeWrapper.tsx
  modules/slowzones/charts/TotalSlowTime.tsx
Labels: v4, frontend

#622 V4/single dwell widget update
  common/utils/dwells.ts
  modules/dwells/DwellsSingleWrapper.tsx
  modules/tripexplorer/SubwayTripGraphs.tsx
Labels: v4, frontend

#623 Maybe fixing bug where link doesn't open with params
  modules/slowzones/charts/LineSegments.tsx
Labels: v4, frontend

#624 Migrate all icons to attributable
  modules/commute/alerts/DelayAlert.tsx
  modules/commute/alerts/ShuttleAlert.tsx
  modules/commute/alerts/StopClosureAlert.tsx
  modules/commute/alerts/SuspensionAlert.tsx
  modules/dashboard/HomescreenWidgetTitle.tsx
  public/Icons/BetweenArrow.svg
  public/Icons/ClosureIcon.svg
  public/Icons/Components/ExploreArrow.svg
  public/Icons/DelayIcon.svg
  public/Icons/DetourIcon.svg
  public/Icons/DropdownArrow.svg
  public/Icons/MBTA.svg
  public/Icons/ShuttleIcon.svg
Labels: v4, frontend

#621 V4/no data notice
  common/components/general/WidgetCarousel.tsx
  common/components/graphics/NoDataPlaceholder.tsx
  common/components/notices/ErrorNotice.tsx
  common/components/notices/NoDataNotice.tsx
  modules/dwells/DwellsAggregateWrapper.tsx
  modules/dwells/DwellsSingleWrapper.tsx
  modules/headways/HeadwaysAggregateWrapper.tsx
  modules/headways/HeadwaysSingleWrapper.tsx
  modules/service/PercentageServiceGraphWrapper.tsx
  modules/service/ServiceGraphWrapper.tsx
  modules/speed/SpeedGraphWrapper.tsx
  modules/traveltimes/TravelTimesAggregateWrapper.tsx
  modules/traveltimes/TravelTimesSingleWrapper.tsx
  modules/tripexplorer/BusTripGraphs.tsx
Labels: v4, frontend

#629 Add logic for system tab
  common/constants/pages.ts
  common/state/dashboardConfig.ts
  common/state/defaults/dashboardDefaults.ts
  common/state/types/dashboardConfigTypes.ts
  common/state/utils/dashboardUtils.ts
  common/utils/router.tsx
  modules/navigation/SystemNavMenu.tsx
Labels: v4, frontend

#595 Basic system slowzones page
  common/components/controls/ControlPanel.tsx
  common/components/controls/DateControl.tsx
  common/constants/dates.ts
  common/constants/pages.ts
  common/state/dashboardConfig.ts
  common/state/datePresetConfig.ts
  common/state/defaults/dashboardDefaults.ts
  common/state/types/dashboardConfigTypes.ts
  common/state/utils/dashboardUtils.ts
  common/utils/router.tsx
  middleware.ts
  modules/dashboard/DesktopHeader.tsx
  modules/navigation/SystemNavMenu.tsx
  modules/slowzones/SystemSlowZonesDetails.tsx
  modules/slowzones/charts/TotalSlowTime.tsx
  pages/system/slowzones.tsx
Labels: v4, frontend

#631 V4/ridership widget update
  common/types/basicWidgets.ts
  modules/ridership/RidershipDetails.tsx
  modules/ridership/RidershipDetailsWrapper.tsx
  modules/ridership/RidershipGraph.tsx
  modules/ridership/RidershipGraphWrapper.tsx
  modules/ridership/RidershipOverviewWrapper.tsx
  modules/ridership/RidershipWidget.tsx
  modules/ridership/utils/utils.ts
  modules/service/ServiceWidget.tsx
Labels: v4, frontend, V4 Blocker

#638 Updating logo
  modules/navigation/DesktopSideNavBar.tsx
  modules/navigation/MobileNavHeader.tsx
  public/tm-logo-big.svg
  public/tm-logo-small.svg
  public/tm-logo.svg
Labels: v4, frontend

#644 Remove Trip widgets code
  modules/dwells/DwellsWidget.tsx
  modules/headways/HeadwaysWidget.tsx
  modules/traveltimes/TravelTimesWidget.tsx
Labels: v4, frontend, V4 Blocker

#642 remove today page
  common/constants/pages.ts
  common/utils/router.tsx
  modules/navigation/SubwayNavMenu.tsx
  pages/[line]/index.tsx
  pages/[line]/overview.tsx
Labels: v4, frontend, V4 Blocker

#636 V4/landing page service graph
  common/api/hooks/speed.ts
  common/constants/dates.ts
  modules/landing/LandingCharts.tsx
  modules/landing/charts/LandingPageChart.tsx
  modules/landing/charts/OverallServiceChart.tsx
  modules/landing/charts/OverallServiceChartWrapper.tsx
  modules/landing/charts/OverallSpeedChart.tsx
  modules/landing/utils.ts
Labels: v4, frontend, V4 Blocker

#654 Fix system tab controls and title bug on mobile
  common/components/controls/ControlPanel.tsx
  common/components/controls/MobileControlPanel.tsx
  common/layouts/DashboardLayout.tsx
  modules/dashboard/MobileHeader.tsx
Labels: v4, frontend, V4 Blocker

#652 improved 404 page
  pages/404.tsx
Labels: v4, frontend, V4 Blocker

#657 Update Cloudformation config for 404 pages.
  server/frontend-cfn.json
Labels: v4, backend, V4 Blocker

#637 V4/landing page ridership graph
  common/api/hooks/ridership.ts
  modules/landing/Landing.tsx
  modules/landing/LandingChartWidget.tsx
  modules/landing/LandingCharts.tsx
  modules/landing/charts/LandingPageChart.tsx
  modules/landing/charts/OverallRidershipChart.tsx
  modules/landing/charts/OverallRidershipChartWrapper.tsx
  modules/landing/utils.ts
Labels: v4, frontend, V4 Blocker

#653 V4/header link
  modules/navigation/DesktopSideNavBar.tsx
  modules/navigation/MobileNavHeader.tsx
Labels: v4, frontend, V4 Blocker

#659 Fix 404 bugs
  common/utils/router.tsx
Labels: bug, v4, frontend, V4 Blocker

#658 Lottie Hero Animation
  modules/landing/Landing.tsx
  package-lock.json
  package.json
  public/Animations/hero.lottie.json
Labels: dependencies, v4, frontend, V4 Blocker

#640 V4/landing graph style
  common/layouts/LandingLayout.tsx
  modules/landing/Landing.tsx
  modules/landing/LandingChartDiv.tsx
  modules/landing/LandingChartWidget.tsx
  modules/landing/charts/LandingPageChart.tsx
  modules/landing/charts/OverallRidershipChart.tsx
  modules/landing/charts/OverallServiceChart.tsx
  modules/landing/charts/OverallSpeedChart.tsx
Labels: v4, frontend, V4 Blocker

#663 Update hero animation
  public/Animations/hero.lottie.json
Labels: v4

#650 Split trips into two top-level tabs.
  common/components/controls/ControlPanel.tsx
  common/components/controls/DateControl.tsx
  common/components/controls/MobileControlPanel.tsx
  common/components/inputs/DateSelection/DatePickerPresets.tsx
  common/components/inputs/DateSelection/DatePickers.tsx
  common/components/inputs/DateSelection/DateSelection.tsx
  common/components/inputs/DateSelection/types/DateSelectionTypes.ts
  common/constants/dashboardTabs.ts
  common/constants/dates.ts
  common/constants/pages.ts
  common/layouts/DashboardLayout.tsx
  common/state/datePresetConfig.ts
  common/state/dateStore.ts
  common/state/defaults/dateDefaults.ts
  common/state/types/dateStoreTypes.ts
  common/state/utils/datePresetUtils.ts
  common/state/utils/dateStoreUtils.ts
  common/types/router.ts
  common/utils/router.tsx
  middleware.ts
  modules/dashboard/DesktopHeader.tsx
  modules/dashboard/HomescreenWidgetTitle.tsx
  modules/dashboard/MobileHeader.tsx
  modules/dwells/charts/DwellsSingleChart.tsx
  modules/headways/charts/HeadwaysSingleChart.tsx
  modules/navigation/BusNavMenu.tsx
  modules/navigation/DashboardSelection.tsx
  modules/navigation/RangeTabs.tsx
  modules/navigation/SidebarTabs.tsx
  modules/navigation/utils/rangeTabUtils.ts
  modules/slowzones/charts/LineSegments.tsx
  modules/traveltimes/charts/TravelTimesSingleChart.tsx
  modules/tripexplorer/TripGraphs.tsx
  pages/[line]/trips/multi/index.tsx
  pages/[line]/trips/single/index.tsx
Labels: v4, frontend, V4 Blocker

#664 Fixing chartjs imports
  common/api/ridership.ts
  modules/ridership/charts/ServiceRidershipChart.tsx
  modules/ridership/charts/TphChart.tsx
  modules/slowzones/charts/TotalSlowTime.tsx
  public/ridership.json
Labels: v4, frontend

#669 Warn on unused exports
  .eslintrc.js
  package-lock.json
  package.json
Labels: dependencies, v4

#643 Station store
  common/components/controls/MobileControlPanel.tsx
  common/constants/pages.ts
  common/state/stationStore.ts
  common/types/router.ts
  common/utils/router.tsx
  modules/navigation/BusSelection.tsx
  modules/navigation/DashboardSelection.tsx
  modules/navigation/LineSelection.tsx
  pages/[line]/trips/index.tsx
Labels: v4, frontend, V4 Blocker

#668 Ridership updates
  common/constants/baselines.ts
  modules/ridership/RidershipDetails.tsx
  modules/ridership/RidershipGraph.tsx
  modules/ridership/RidershipWidget.tsx
Labels: v4, frontend, V4 Blocker

#662 auto fill dates
  common/components/inputs/DateSelection/DatePickers.tsx
  common/state/dateStore.ts
  common/state/defaults/dateDefaults.ts
  common/state/types/dateStoreTypes.ts
  common/state/utils/datePresetUtils.ts
  common/types/general.ts
  common/utils/router.tsx
Labels: frontend

#672 shrink line selection
  modules/navigation/BusNavMenu.tsx
  modules/navigation/LineSelection.tsx
  modules/navigation/SideNavigation.tsx
  modules/navigation/SubwayNavMenu.tsx
  modules/navigation/SystemNavMenu.tsx
Labels: v4, frontend

#671 new sidebar buttons
  common/components/buttons/DonateButton.tsx
  common/components/buttons/FeedbackButton.tsx
  common/layouts/DashboardLayout.tsx
  common/layouts/Footer.tsx
  common/layouts/LandingLayout.tsx
  modules/navigation/DesktopSideNavBar.tsx
  modules/navigation/MobileNavHeader.tsx
Labels: v4, frontend

#677 Register globally once chart js
  common/components/charts/AggregateLineChart.tsx
  common/components/charts/SingleDayLineChart.tsx
  modules/headways/charts/HeadwaysHistogram.tsx
  modules/landing/charts/LandingPageChart.tsx
  modules/ridership/RidershipGraph.tsx
  modules/service/PercentageServiceGraph.tsx
  modules/service/ServiceGraph.tsx
  modules/slowzones/charts/LineSegments.tsx
  modules/slowzones/charts/TotalSlowTime.tsx
  modules/speed/SpeedGraph.tsx
  pages/_app.tsx
Labels: v4, frontend

#670 Date Presets for the system page
  common/components/inputs/DateSelection/DateSelection.tsx
  common/components/inputs/DateSelection/OverviewDateSelection.tsx
  common/layouts/DashboardLayout.tsx
  common/layouts/LoadPresetsLayout.tsx
  common/state/datePresetStore.ts
  common/state/defaults/datePresetDefaults.ts
  common/state/utils/datePresetUtils.ts
  common/utils/firstLoad.ts
  pages/_app.tsx
Labels: v4, frontend, V4 Blocker

#675 V4 single date default
  common/constants/dates.ts
  common/state/defaults/dateDefaults.ts
  common/state/defaults/datePresetDefaults.ts
Labels: v4, frontend

#678 Cleaning up unused exports and files
  common/components/charts/Title.tsx
  common/components/dropdowns/Dropdown.tsx
  common/components/general/ActiveLink.tsx
  common/components/general/WidgetCarousel.tsx
  common/components/inputs/DateSelection/DatePickers.tsx
  common/components/inputs/RadioList.tsx
  common/components/inputs/ServiceDayPicker.tsx
  common/state/datePresetStore.ts
  common/utils/date.ts
  common/utils/slowZoneUtils.ts
  common/utils/stations.ts
  common/utils/traveltimes.ts
Labels: v4, frontend

#673 V4/various fixes 2
  common/components/controls/MobileControlPanel.tsx
  common/components/inputs/DateSelection/OverviewDateSelection.tsx
  common/layouts/DashboardLayout.tsx
  common/layouts/LandingLayout.tsx
  common/layouts/NavLayout.tsx
  modules/landing/Landing.tsx
  modules/landing/LandingChartDiv.tsx
  modules/landing/LandingChartWidget.tsx
  modules/landing/charts/LandingPageChart.tsx
  modules/navigation/BusNavMenu.tsx
  modules/navigation/BusSelection.tsx
  modules/navigation/DesktopSideNavBar.tsx
  modules/navigation/MobileNavHeader.tsx
  modules/navigation/SideNavigation.tsx
  modules/navigation/SidebarTabs.tsx
  modules/navigation/SubwayNavMenu.tsx
  pages/_app.tsx
  public/Animations/hero.lottie.json
  public/landingTitle.svg
Labels: v4, frontend, V4 Blocker

#679 Day of data notice
  common/components/notices/SameDayNotice.tsx
  common/components/notices/TerminusNotice.tsx
  modules/tripexplorer/TripExplorer.tsx
Labels: v4, frontend

#661 V4/landing copy
  copy/landingCopy.tsx
  modules/dashboard/Overview.tsx
  modules/landing/Landing.tsx
  modules/landing/LandingChartDiv.tsx
  modules/landing/LandingChartWidget.tsx
  modules/landing/LineButton.tsx
  modules/landing/LineSelectionLanding.tsx
  modules/landing/charts/LandingPageChart.tsx
  modules/landing/charts/OverallRidershipChart.tsx
  modules/landing/charts/OverallServiceChart.tsx
  modules/landing/charts/OverallSpeedChart.tsx
  modules/landing/types.ts
  modules/navigation/DashboardSelection.tsx
  pages/[line]/index.tsx
Labels: v4, frontend, V4 Blocker

#680 Allowing for python 3.10 on v3
  .github/workflows/build.yml
  .github/workflows/lint.yml
  package-lock.json
  package.json
  server/poetry.lock
  server/pyproject.toml
Labels: ci/cd, dependencies, backend

#685 Using replace instead of push to fix back nav
  common/utils/router.tsx
Labels: v4, frontend

#353 Move prod backend from dashboard-api2.transitmatters.org to dashboard-api.labs.transitmatters.org
  .github/workflows/healthcheck.yml
  deploy.sh
  server/.chalice/config.json
  server/frontend-cfn.json
  src/constants.ts
Labels: ci/cd, backend, frontend

#693 Update README and GitHub action to clean up stale certificates
  .github/workflows/deploy.yml
  README.md
Labels: ci/cd, documentation

#689 V4/svg header bug
  common/components/controls/MobileControlPanel.tsx
  modules/navigation/DesktopSideNavBar.tsx
  modules/navigation/MobileNavHeader.tsx
  public/TMLogo.png
Labels: bug, v4, frontend

#699 feat: add dates to single day trips page
  modules/dashboard/WidgetTitle.tsx
Labels: frontend

#692 Sentence case everything
  common/constants/dates.ts
  common/constants/pages.ts
  modules/dashboard/Today.tsx
  modules/landing/LineSelectionLanding.tsx
  modules/navigation/DesktopSideNavBar.tsx
  modules/ridership/RidershipDetails.tsx
  modules/ridership/RidershipGraph.tsx
  modules/ridership/RidershipWidget.tsx
  modules/service/ServiceGraph.tsx
  modules/slowzones/SlowZonesDetails.tsx
  modules/slowzones/SlowZonesWidget.tsx
  modules/slowzones/SystemSlowZonesDetails.tsx
  modules/speed/SpeedGraph.tsx
  modules/traveltimes/TravelTimesDetails.tsx
  modules/tripexplorer/BusTripGraphs.tsx
  modules/tripexplorer/SubwayTripGraphs.tsx
Labels: frontend

#698 [v4] hide secrets in healthcheck output
  server/app.py
  server/chalicelib/secrets.py
Labels: ci/cd, dependencies, backend, frontend, documentation

#697 [v3] hide secrets in healthcheck output
  server/app.py
  server/chalicelib/secrets.py
Labels: backend

#703 Forgot a few case adjustments
  modules/service/ServiceDetails.tsx
  modules/slowzones/SlowZonesDetails.tsx
  modules/slowzones/SystemSlowZonesDetails.tsx
  modules/slowzones/charts/TotalSlowTime.tsx
  modules/speed/SpeedDetailsWrapper.tsx
Labels: frontend

#701 fix point colors and consolidate radii
  modules/landing/utils.ts
  modules/ridership/RidershipGraph.tsx
  modules/service/PercentageServiceGraph.tsx
  modules/service/ServiceGraph.tsx
  modules/speed/SpeedGraph.tsx
Labels: bug, v4, frontend

#700 bug/overview-date-overflow
  common/components/general/ButtonGroup.tsx
  common/components/inputs/DateSelection/OverviewDateSelection.tsx
Labels: bug, frontend

#696 small changes to landing chart
  modules/landing/charts/LandingPageChart.tsx
  modules/landing/utils.ts
Labels: v4, frontend

#704 fit hero animation into viewport
  modules/landing/Landing.tsx
Labels: v4, frontend

#707 Fix service tooltip
  common/types/basicWidgets.ts
  modules/dashboard/WidgetTitle.tsx
  modules/service/ServiceDetails.tsx
  modules/service/ServiceGraph.tsx
  modules/service/ServiceGraphWrapper.tsx
Labels: bug, v4, frontend

#708 Change time widget unit format
  common/components/widgets/internal/BasicWidgetDataLayout.tsx
  common/components/widgets/internal/SimpleDeltaWidget.tsx
  common/components/widgets/internal/UnitText.tsx
  common/components/widgets/internal/WidgetForCarousel.tsx
  common/components/widgets/internal/WidgetText.tsx
  common/types/basicWidgets.tsx
  common/utils/time.tsx
  modules/slowzones/SlowZonesDetails.tsx
Labels: bug, v4, frontend
