Repository transitmatters/t-performance-dash, pull requests merged in 2023-11, with the labels that each got.

#824 Adding basic time predictions graph page
  .vscode/settings.json
  common/api/hooks/predictions.ts
  common/api/predictions.ts
  common/components/accordion/Accordion.tsx
  common/components/inputs/ToggleSwitch.tsx
  common/constants/colors.ts
  common/constants/pages.ts
  common/state/datePresetStore.ts
  common/types/api.ts
  common/types/dataPoints.ts
  common/types/lines.ts
  modules/predictions/PredictionsDetails.tsx
  modules/predictions/charts/PredictionsBinsGraph.tsx
  modules/predictions/charts/PredictionsBinsGraphWrapper.tsx
  modules/predictions/charts/PredictionsGraph.tsx
  modules/predictions/charts/PredictionsGraphWrapper.tsx
  modules/predictions/utils/utils.ts
  modules/service/utils/graphUtils.ts
  pages/[line]/predictions.tsx
  server/.chalice/policy.json
  server/app.py
  server/chalicelib/predictions.py
Labels: backend, frontend

#889 Swapped position of Line Map and Segment Chart for systemwide Slow Zone view
  deploy.sh
  modules/slowzones/SystemSlowZonesDetails.tsx
Labels: ci/cd, frontend

#890 fix scrolling issue in dropdown menu
  common/components/inputs/StationSelector.tsx
Labels: frontend

#864 10th and 90th percentiles and style changes.
  common/components/controls/MobileControlPanel.tsx
  common/components/widgets/internal/UnitText.tsx
  common/components/widgets/internal/WidgetText.tsx
  common/constants/pages.ts
  common/types/basicWidgets.tsx
  common/utils/widgets.ts
  modules/alerts/AlertsWidget.tsx
  modules/commute/alerts/Alerts.tsx
  modules/dashboard/DesktopHeader.tsx
  modules/dashboard/HomescreenWidgetTitle.tsx
  modules/dashboard/MobileHeader.tsx
  modules/dashboard/Overview.tsx
  modules/dashboard/WidgetTitle.tsx
  modules/landing/Landing.tsx
  modules/landing/LineButton.tsx
Labels: frontend
