Repository transitmatters/t-performance-dash, pull requests merged in 2023-12, with the labels that each got.

#885 feature: Service hours chart
  common/api/hooks/service.ts
  common/api/service.ts
  common/components/charts/TimeSeriesChart/TimeSeriesChart.tsx
  common/components/charts/TimeSeriesChart/defaults.ts
  common/components/charts/TimeSeriesChart/types.ts
  common/types/api.ts
  common/types/dataPoints.ts
  modules/service/PercentageServiceGraphWrapper.tsx
  modules/service/ScheduledAndDeliveredGraph.tsx
  modules/service/ServiceDetails.tsx
  modules/service/ServiceGraph.tsx
  modules/service/ServiceGraphWrapper.tsx
  modules/service/ServiceHoursGraph.tsx
  modules/service/ServiceOverviewWrapper.tsx
  modules/service/utils/utils.ts
  server/.chalice/policy.json
  server/app.py
  server/chalicelib/aggregation.py
  server/chalicelib/dynamo.py
  server/chalicelib/sampling.py
  server/chalicelib/scheduled_service.py
  server/chalicelib/service_hours.py
  server/chalicelib/speed.py
Labels: backend, frontend

#895 Updating bus data up to Oct 2023
  common/constants/dates.ts
  server/bus/gen_bus_data.sh
  server/bus/setup_bus_input.sh
  server/chalicelib/constants.py
  server/chalicelib/data_funcs.py
  server/rapid/gen_rapid_events.sh
  server/rapid/setup_rapid_input.sh
Labels: backend, frontend

#891 Shows systemwide ridership page
  common/api/ridership.ts
  common/constants/baselines.ts
  common/constants/pages.ts
  modules/navigation/SideNavigation.tsx
  modules/ridership/RidershipGraphWrapper.tsx
  modules/ridership/SystemRidershipDetails.tsx
  modules/ridership/utils/utils.ts
  pages/system/ridership.tsx
Labels: frontend

#902 fix: Bad property access crashes service chart
  modules/service/utils/utils.ts
Labels: frontend

#901 Update datadog versions and tagging
  server/cloudformation.json
  server/poetry.lock
  server/pyproject.toml
Labels: dependencies, backend

#908 Python3.11 Upgrade
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  .python-version
  README.md
  server/poetry.lock
  server/pyproject.toml
Labels: ci/cd, dependencies, backend, documentation

#897 Adding eslint spacing rule and update deps
  .eslintrc.js
  common/api/datadashboard.ts
  common/api/slowzones.ts
  common/components/charts/AggregateLineChart.tsx
  common/components/charts/CarouselGraphDiv.tsx
  common/components/charts/ChartDiv.tsx
  common/components/charts/SingleDayLineChart.tsx
  common/components/charts/TimeSeriesChart/TimeSeriesChart.tsx
  common/components/charts/TimeSeriesChart/helpers.ts
  common/components/general/Device/Device.tsx
  common/components/general/Device/index.tsx
  common/components/maps/LineMap.tsx
  common/components/nav/BusRouteSelection.tsx
  common/components/nav/NavSectionHeader.tsx
  common/components/widgets/internal/UnitText.tsx
  common/constants/pages.ts
  common/layouts/LandingLayout.tsx
  common/layouts/Layouts.tsx
  common/types/basicWidgets.tsx
  common/utils/slowZoneUtils.ts
  common/utils/stations.ts
  common/utils/time.tsx
  copy/landingCopy.tsx
  modules/dashboard/Today.tsx
  modules/dashboard/TodayContainer.tsx
  modules/landing/LandingChartDiv.tsx
  modules/landing/LineButton.tsx
  modules/predictions/PredictionsDetails.tsx
  modules/ridership/RidershipGraphWrapper.tsx
  modules/service/ServiceDetails.tsx
  modules/service/ServiceGraphWrapper.tsx
  modules/slowzones/SlowZonesDetails.tsx
  modules/slowzones/SlowZonesWidget.tsx
  modules/slowzones/charts/LineSegments.tsx
  modules/slowzones/map/SlowSegmentLabel.tsx
  modules/speed/SpeedDetails.tsx
  package-lock.json
  package.json
Labels: dependencies, frontend

#896 Add commuter rail colors and cleanup
  .vscode/settings.json
  common/components/graphics/styles/spinnerFillColor.ts
  common/components/nav/CommuterRailDropdown.tsx
  common/components/nav/CommuterRailRouteSelection.tsx
  common/components/nav/CommuterRailSection.tsx
  common/components/nav/MenuDropdown.tsx
  common/components/widgets/MiniWidgetCreator.tsx
  common/components/widgets/internal/UnitText.tsx
  common/constants/colors.ts
  common/constants/lines.ts
  common/constants/pages.ts
  common/constants/stations.ts
  common/state/defaults/dateDefaults.ts
  common/styles/general.ts
  common/types/lines.ts
  modules/landing/LandingChartDiv.tsx
  modules/speed/constants/speeds.ts
  tailwind.config.js
Labels: frontend

#910 Handle new updated_on date in json
  common/api/slowzones.ts
  common/types/dataPoints.ts
  modules/slowzones/SlowZonesDetails.tsx
  modules/slowzones/SlowZonesWidget.tsx
  modules/slowzones/SystemSlowZonesDetails.tsx
Labels: frontend

#912 Upgrading node to 20.x
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  .nvmrc
  README.md
  package-lock.json
  package.json
Labels: ci/cd, dependencies, documentation

#899 fix: alert annotations not applied for travel times graph on station change
  modules/tripexplorer/AlertStore.tsx
Labels: frontend

#893 add text & link explaining slow time
  modules/slowzones/SlowZonesDetails.tsx
  modules/slowzones/SystemSlowZonesDetails.tsx
Labels: frontend

#917 feat: headways historgram improvements
  common/types/charts.ts
  modules/headways/charts/HeadwaysHistogram.tsx
Labels: frontend

#923 Adding bus data for Nov 2023
  common/constants/dates.ts
  server/chalicelib/constants.py
Labels: backend, frontend
