Repository transitmatters/t-performance-dash, pull requests merged in 2023-07, with the labels that each got.

#716 rounding bug
  common/utils/time.tsx
Labels: bug, frontend

#711 Updating time labels to be consistent across the app
  common/components/charts/AggregateLineChart.tsx
  common/components/charts/SingleDayLineChart.tsx
  common/utils/time.tsx
  modules/slowzones/charts/TotalSlowTime.tsx
  modules/slowzones/map/SlowSegmentLabel.tsx
Labels: v4, frontend

#720 Add bus date presets
  common/components/inputs/DateSelection/DateSelection.tsx
  common/constants/dates.ts
Labels: v4, frontend

#721 Fixing accessibility issues according to lighthouse
  common/components/buttons/DownloadButton.tsx
  common/components/charts/AggregateLineChart.tsx
  common/components/charts/SingleDayLineChart.tsx
  common/components/general/WidgetCarousel.tsx
  common/components/graphics/LoadingSpinner.tsx
  common/components/widgets/StationSelectorWidget.tsx
  modules/navigation/BusNavMenu.tsx
  modules/navigation/BusSelection.tsx
  modules/navigation/SideNavigation.tsx
  modules/navigation/SidebarTabs.tsx
  modules/navigation/SubwayNavMenu.tsx
  modules/navigation/SystemNavMenu.tsx
Labels: v4, frontend

#725 Fix averages with 0s
  common/utils/traveltimes.ts
Labels: v4, frontend

#727 small change
  modules/slowzones/charts/TotalSlowTime.tsx
Labels: frontend

#723 Fixing total slow time tooltip label
  modules/slowzones/charts/TotalSlowTime.tsx
Labels: v4, frontend

#730 feat: add system wide slowzone segments
  common/types/dataPoints.ts
  common/utils/slowZoneUtils.ts
  common/utils/time.tsx
  modules/slowzones/SlowZonesSegmentsWrapper.tsx
  modules/slowzones/SystemSlowZonesDetails.tsx
  modules/slowzones/charts/LineSegments.tsx
Labels: frontend

#732 bug: fix ridership chart config
  modules/ridership/RidershipWidget.tsx
Labels: frontend

#731 feat: add travel time copy
  modules/tripexplorer/SubwayTripGraphs.tsx
Labels: frontend

#733 Gl speed pt 1
  common/api/hooks/tripmetrics.ts
  common/api/tripmetrics.ts
  common/types/api.ts
  common/types/dataPoints.ts
  common/types/lines.ts
  server/.chalice/policy.json
  server/app.py
  server/chalicelib/constants.py
  server/chalicelib/dynamo.py
  server/chalicelib/speed.py
Labels: v4, backend, frontend, V4 Blocker

#734 Add Green Line Speeds to dashboard.
  common/api/hooks/speed.ts
  common/constants/baselines.ts
  common/constants/pages.ts
  modules/dashboard/Overview.tsx
  modules/landing/LineButton.tsx
  modules/landing/charts/LandingPageChart.tsx
  modules/landing/charts/OverallRidershipChartWrapper.tsx
  modules/landing/charts/OverallServiceChart.tsx
  modules/landing/charts/OverallServiceChartWrapper.tsx
  modules/landing/charts/OverallSpeedChart.tsx
  modules/landing/charts/OverallSpeedChartWrapper.tsx
  modules/landing/utils.ts
  modules/service/PercentageServiceGraph.tsx
  modules/service/PercentageServiceGraphWrapper.tsx
  modules/service/ServiceDetails.tsx
  modules/service/ServiceGraph.tsx
  modules/service/ServiceGraphWrapper.tsx
  modules/service/ServiceOverviewWrapper.tsx
  modules/service/ServiceWidget.tsx
  modules/service/utils/graphUtils.ts
  modules/service/utils/utils.ts
  modules/speed/SpeedDetails.tsx
  modules/speed/SpeedDetailsWrapper.tsx
  modules/speed/SpeedGraph.tsx
  modules/speed/SpeedGraphWrapper.tsx
  modules/speed/SpeedWidget.tsx
  modules/speed/utils/utils.ts
Labels: v4, frontend, V4 Blocker

#724 Fixes back navigation to account for date changes
  common/components/inputs/DateSelection/DatePickers.tsx
  common/components/inputs/DateSelection/DateSelection.tsx
  common/components/widgets/StationSelectorWidget.tsx
  common/utils/router.tsx
Labels: v4, frontend

#736 Remove old unused speed code
  server/.chalice/policy.json
  server/app.py
  server/chalicelib/dynamo.py
  server/chalicelib/speed.py
Labels: v4, backend, V4 Blocker

#710 shrink station selector items
  common/components/inputs/StationSelector.tsx
  common/components/widgets/StationSelectorWidget.tsx
  common/utils/stations.ts
Labels: v4, frontend

#737 Slow Zones Update
  common/state/utils/dateStoreUtils.ts
  modules/slowzones/SlowZonesDetails.tsx
  modules/slowzones/SlowZonesWidgetTitle.tsx
  modules/slowzones/map/SlowZonesMap.tsx
Labels: frontend

#740 Fix bug with selecting from stations.
  common/components/widgets/StationSelectorWidget.tsx
Labels: bug, v4, frontend, V4 Blocker

#739 V4/historical alerts 2
  common/api/hooks/alerts.ts
  common/components/alerts/AlertBar.tsx
  common/components/alerts/AlertFilter.ts
  common/components/alerts/AlertNotice.tsx
  common/components/alerts/PastAlertModal.tsx
  common/components/charts/AggregateLineChart.tsx
  common/components/charts/Legend.tsx
  common/components/charts/SingleDayLineChart.tsx
  common/components/general/AlertsDisclaimer.tsx
  common/components/inputs/DateSelection/DatePickers.tsx
  common/constants/dates.ts
  common/layouts/PrimaryLayout.tsx
  common/types/alerts.ts
  modules/commute/alerts/AlertUtils.ts
  modules/service/utils/graphUtils.ts
  modules/tripexplorer/AlertStore.tsx
  modules/tripexplorer/TripExplorer.tsx
  styles/globals.css
  tailwind.config.js
Labels: feature, v4, frontend, V4 Blocker

#747 bug fix
  modules/service/ServiceGraph.tsx
  server/chalicelib/service_levels.py
Labels: bug, backend, frontend

#745 bug with sz system chart
  modules/slowzones/SystemSlowZonesDetails.tsx
Labels: frontend

#752 Only show full weeks on landing
  common/api/hooks/ridership.ts
  common/api/hooks/tripmetrics.ts
Labels: v4, frontend

#714 Pull speed restrictions data from DynamoDB
  common/api/hooks/slowzones.ts
  common/api/slowzones.ts
  common/types/api.ts
  common/types/dataPoints.ts
  common/types/lines.ts
  common/utils/date.ts
  common/utils/lines.ts
  modules/dashboard/Today.tsx
  modules/slowzones/SlowZonesDetails.tsx
  modules/slowzones/map/SlowZonesTooltip.tsx
  modules/slowzones/map/segment.ts
  server/app.py
  server/chalicelib/speed_restrictions.py
Labels: v4, backend, frontend

#753 Shrink station selector on mobile
  common/components/inputs/StationSelector.tsx
Labels: v4, frontend

#756 Prevent double calls when date loads
  common/api/hooks/slowzones.ts
Labels: v4, frontend

#749 add histogram back
  common/constants/baselines.ts
  modules/headways/HeadwaysDetails.tsx
  modules/headways/charts/HeadwaysHistogramWrapper.tsx
  modules/tripexplorer/SubwayTripGraphs.tsx
Labels: v4, frontend

#757 Adding trailing slashes for redirects
  common/utils/middleware.ts
  modules/slowzones/charts/LineSegments.tsx
  package-lock.json
  package.json
Labels: dependencies, frontend

#758 Fixing routing for api route
  common/api/slowzones.ts
Labels: v4, frontend

#762 Add bus ridership baselines
  common/constants/baselines.ts
  modules/ridership/RidershipDetails.tsx
  modules/ridership/RidershipGraphWrapper.tsx
  modules/ridership/RidershipWidget.tsx
  modules/ridership/utils/utils.ts
Labels: v4, frontend

#760 rename speed chart
  modules/speed/SpeedDetailsWrapper.tsx
  modules/speed/SpeedGraph.tsx
Labels: frontend

#754 new favicon
  public/favicon.png
  public/favicon_128.png
  public/manifest.json
Labels: v4

#765 Clean up a bunch of code and eslint warnings
  .eslintrc.js
  common/api/slowzones.ts
  common/components/inputs/styles/tailwind.tsx
  common/components/notices/ErrorNotice.tsx
  common/components/notices/NoDataNotice.tsx
  common/constants/time.ts
  common/styles/general.ts
  common/types/api.ts
  common/types/dataPoints.ts
  common/utils/headways.ts
  common/utils/ridership.ts
  common/utils/slowZoneUtils.ts
  common/utils/stations.ts
  modules/dashboard/HomescreenWidgetTitle.tsx
Labels: tech-debt, v4, frontend

#766 Prepare deploy script for beta/prod deploy
  common/utils/constants.ts
  deploy.sh
  server/.chalice/config.json
  server/frontend-cfn.json
Labels: ci/cd, v4, backend, frontend

#770 Remove v3 relic of 404s being a lie because of react router
  server/frontend-cfn.json
Labels: backend

#768 Hit static landing page data
  common/api/hooks/ridership.ts
  common/api/hooks/tripmetrics.ts
  common/api/ridership.ts
  common/api/tripmetrics.ts
  modules/landing/LandingCharts.tsx
  modules/landing/charts/OverallRidershipChart.tsx
  modules/landing/charts/OverallRidershipChartWrapper.tsx
  modules/landing/charts/OverallServiceChart.tsx
  modules/landing/charts/OverallServiceChartWrapper.tsx
  modules/landing/charts/OverallSpeedChart.tsx
  modules/landing/charts/OverallSpeedChartWrapper.tsx
  modules/landing/utils.ts
  package.json
Labels: dependencies, v4, frontend

#771 Fix download button color
  common/components/buttons/DownloadButton.tsx
Labels: bug, v4, frontend

#772 Route lambda through datadog so we get traces
  server/frontend-cfn.json
Labels: v4, backend

#774 fix: Render SZ segment labels properly in Safari
  common/components/maps/LineMap.stories.tsx
  common/components/maps/LineMap.tsx
  common/components/maps/useDiagramCoordinates.ts
  common/utils/time.tsx
  modules/slowzones/map/DirectionIndicator.tsx
  modules/slowzones/map/SlowSegmentLabel.tsx
  modules/slowzones/map/SlowZonesMap.tsx
Labels: frontend

#775 remove unused pages
  modules/dwells/DwellsDetails.tsx
  modules/headways/HeadwaysDetails.tsx
  modules/traveltimes/TravelTimesDetails.tsx
  pages/[line]/trips/dwells.tsx
  pages/[line]/trips/headways.tsx
  pages/[line]/trips/traveltimes.tsx
Labels: tech-debt, v4, frontend

#748 V4/remove grid
  common/components/charts/ChartPageDiv.tsx
  common/components/widgets/Widget.tsx
  modules/dashboard/Overview.tsx
  modules/ridership/RidershipDetails.tsx
  modules/service/ServiceDetails.tsx
  modules/slowzones/SlowZonesDetails.tsx
  modules/slowzones/SystemSlowZonesDetails.tsx
  modules/speed/SpeedDetails.tsx
  modules/tripexplorer/SubwayTripGraphs.tsx
  modules/tripexplorer/TripExplorer.tsx
Labels: v4, frontend

#769 V4/widget improvements
  common/components/charts/Legend.tsx
  common/components/general/DataPair.tsx
  common/components/general/WidgetCarousel.tsx
  common/components/widgets/MiniWidgetCreator.tsx
  common/components/widgets/internal/BasicWidgetDataLayout.tsx
  common/components/widgets/internal/SmallData.tsx
  common/components/widgets/internal/SmallDelta.tsx
  common/components/widgets/internal/UnitText.tsx
  common/components/widgets/internal/WidgetForCarousel.tsx
  common/components/widgets/internal/WidgetText.tsx
  common/types/basicWidgets.tsx
  common/utils/dwells.ts
  common/utils/headways.ts
  common/utils/time.tsx
  common/utils/traveltimes.ts
  common/utils/widgets.ts
  modules/dwells/DwellsAggregateWrapper.tsx
  modules/dwells/DwellsSingleWrapper.tsx
  modules/headways/HeadwaysAggregateWrapper.tsx
  modules/headways/HeadwaysSingleWrapper.tsx
  modules/traveltimes/TravelTimesAggregateWrapper.tsx
  modules/traveltimes/TravelTimesSingleWrapper.tsx
Labels: v4, frontend

#776 baseline -> Peak
  common/components/general/ButtonGroup.tsx
  common/types/ridership.ts
  copy/landingCopy.tsx
  modules/landing/charts/LandingPageChart.tsx
  modules/ridership/RidershipGraphWrapper.tsx
  modules/service/PercentageServiceGraph.tsx
  modules/service/PercentageServiceGraphWrapper.tsx
  modules/service/ServiceDetails.tsx
  modules/service/utils/utils.ts
  modules/slowzones/map/SlowZonesTooltip.tsx
Labels: v4, frontend, V4 Blocker

#778 Add v3/v4 file trick to make it OK that V3 paths don't have trailing slashes
  deploy.sh
  v3_to_v4_slash_trick/trick.html
Labels: ci/cd

#780 V4 home page title adjustment
  modules/landing/Landing.tsx
Labels: v4, frontend

#782 fix: Better SZ tooltip positioning
  common/components/maps/LineMap.module.css
  common/components/maps/LineMap.tsx
  modules/slowzones/map/SlowZonesMap.tsx
  modules/slowzones/map/SlowZonesTooltip.module.css
  modules/slowzones/map/SlowZonesTooltip.tsx
Labels: frontend

#785 DNS bug
  server/frontend-cfn.json
Labels: backend

#786 update: Landing page copy and viz tweaks
  modules/landing/Landing.tsx
  modules/landing/LandingChartDiv.tsx
  modules/landing/LineButton.tsx
  modules/landing/LineSelectionLanding.tsx
  public/Logo_wordmark_white.png
  public/landingTitle.svg
Labels: frontend

#788 Allow datadog to tell apart deploys
  deploy.sh
  server/frontend-cfn.json
Labels: ci/cd, backend

#790 (v4) Fix v3 slowzones links with no end date
  common/utils/middleware.ts
Labels: v4, frontend

#791 Show better git tagging in deployment script
  deploy.sh
  server/frontend-cfn.json
Labels: ci/cd, backend

#792 Set API Gateway name to the backend hostname, for debugging ease
  deploy.sh
  server/frontend-cfn.json
Labels: ci/cd, backend

#793 Change name of frontend-cfn.json to cloudformation.json
  .github/CODEOWNERS
  deploy.sh
  server/cloudformation.json
Labels: ci/cd, v4, backend

#794 hotfix: github action healthcheck
  .github/workflows/healthcheck.yml
Labels: ci/cd

#796 Fix bug with min and max being flipped
  common/utils/widgets.ts
Labels: bug, frontend

#798 Adding Datadog git tags
  deploy.sh
  server/cloudformation.json
Labels: ci/cd, backend

#802 Using full sha in ddog tags
  deploy.sh
Labels: ci/cd

#804 Pin to newer version of poetry, and cleanup package pinning
  README.md
  package.json
  server/app.py
  server/chalicelib/constants.py
  server/chalicelib/dynamo.py
  server/chalicelib/secrets.py
  server/chalicelib/service_levels.py
  server/chalicelib/speed.py
  server/poetry.lock
  server/pyproject.toml
Labels: dependencies, backend, documentation
