Repository transitmatters/t-performance-dash, pull requests merged in 2023-10, with the labels that each got.

#874 [863] Set Total Slow Time minimum to zero
  modules/slowzones/charts/TotalSlowTime.tsx
Labels: frontend

#873 [869] Fix overlap in Red Line slow zone chart
  common/components/maps/diagrams/lines.ts
Labels: frontend

#877 Stop extra dependabot PRs
  .github/dependabot.yml
Labels: ci/cd

#880 [849] Maps on Slow Zone page
  common/components/general/ButtonGroup.tsx
  modules/service/PercentageServiceGraphWrapper.tsx
  modules/slowzones/SystemSlowZonesDetails.tsx
  modules/tripexplorer/BusTripGraphs.tsx
  modules/tripexplorer/SubwayTripGraphs.tsx
Labels: frontend

#879 feature: Unified `TimeSeriesChart` component
  common/components/charts/TimeSeriesChart/TimeSeriesChart.stories.tsx
  common/components/charts/TimeSeriesChart/TimeSeriesChart.tsx
  common/components/charts/TimeSeriesChart/defaults.ts
  common/components/charts/TimeSeriesChart/helpers.ts
  common/components/charts/TimeSeriesChart/index.ts
  common/components/charts/TimeSeriesChart/types.ts
  common/constants/colors.ts
Labels: frontend

#886 Show latest slowzone values
  common/types/dataPoints.ts
  common/utils/slowZoneUtils.ts
  modules/slowzones/charts/LineSegments.tsx
  modules/slowzones/map/SlowSegmentLabel.tsx
  modules/slowzones/map/SlowZonesMap.stories.tsx
  modules/slowzones/map/SlowZonesTooltip.tsx
  package-lock.json
  package.json
Labels: dependencies, frontend

#888 Fixing color opacity on map for today
  modules/slowzones/map/SlowZonesMap.tsx
Labels: frontend
