Repository transitmatters/t-performance-dash, pull requests merged in 2023-08, with the labels that each got.

#818 Updates packages for August 2023
  common/api/datadashboard.ts
  common/components/inputs/StationSelector.tsx
  common/utils/middleware.ts
  modules/slowzones/charts/LineSegments.tsx
  package-lock.json
  package.json
Labels: dependencies, frontend

#812 Group common dependencies in single PRs
  .github/dependabot.yml
Labels: ci/cd

#828 Landing chart work
  copy/landingCopy.tsx
  modules/landing/LandingChartDiv.tsx
  modules/landing/LandingChartWidget.tsx
  modules/landing/LandingCharts.tsx
  modules/landing/charts/LandingPageChart.tsx
  modules/landing/charts/OverallRidershipChart.tsx
  modules/landing/charts/OverallServiceChart.tsx
  modules/landing/charts/OverallSpeedChart.tsx
Labels: frontend

#825 Change phrasing "peak" to "Historical maximum"
  copy/landingCopy.tsx
  modules/commute/speed/utils/utils.ts
  modules/landing/LandingChartDiv.tsx
  modules/landing/LandingChartWidget.tsx
  modules/landing/LandingCharts.tsx
  modules/landing/charts/LandingPageChart.tsx
  modules/landing/charts/OverallRidershipChart.tsx
  modules/landing/charts/OverallServiceChart.tsx
  modules/landing/charts/OverallSpeedChart.tsx
  modules/landing/utils.ts
  modules/ridership/RidershipGraph.tsx
  modules/ridership/RidershipGraphWrapper.tsx
  modules/service/PercentageServiceGraph.tsx
  modules/service/PercentageServiceGraphWrapper.tsx
  modules/service/ServiceDetails.tsx
  modules/service/ServiceGraph.tsx
  modules/service/ServiceGraphWrapper.tsx
  modules/speed/SpeedGraph.tsx
  modules/speed/SpeedGraphWrapper.tsx
  modules/speed/constants/speeds.ts
Labels: frontend

#829 Landing chart labels
  common/constants/charts.ts
  copy/landingCopy.tsx
  modules/landing/LandingChartDiv.tsx
  modules/landing/LandingChartWidget.tsx
  modules/landing/charts/LandingPageChart.tsx
  modules/landing/utils.ts
  pages/_app.tsx
Labels: frontend

#830 Fix data labels
  pages/_app.tsx
Labels: frontend

#831 Change landing page widget title
  modules/landing/charts/LandingPageChart.tsx
Labels: frontend

#836 Made v4 the default build version
  .github/workflows/build.yml
  deploy.sh
  package.json
Labels: ci/cd, dependencies

#839 Bus TT by hour
  modules/tripexplorer/BusTripGraphs.tsx
Labels: frontend

#837 June 2023 bus data update
  common/constants/bus_constants/15.json
  common/constants/bus_constants/57.json
  common/constants/bus_constants/66.json
  common/constants/dates.ts
  server/bus/bus2train.py
  server/bus/gtfs_archive.py
Labels: backend, frontend

#840 Bug with slow zone time formatting
  common/utils/time.tsx
Labels: bug, frontend

#835 Tweaks to chart format and colors
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/workflows/healthcheck.yml
  common/types/basicWidgets.tsx
  modules/ridership/RidershipGraph.tsx
  modules/service/ServiceGraph.tsx
  modules/speed/SpeedGraph.tsx
Labels: ci/cd, frontend

#847 Ridership max widget + small fix.
  modules/ridership/RidershipGraphWrapper.tsx
  modules/ridership/utils/utils.ts
  modules/service/ServiceGraphWrapper.tsx
  modules/speed/SpeedGraphWrapper.tsx
Labels: frontend
