Repository transitmatters/t-performance-dash, pull requests merged in 2024-07, with the labels that each got.

#998 deps: Use `@transitmatters/stripmap` package for line rendering
  common/components/maps/LineMap.module.css
  common/components/maps/LineMap.stories.tsx
  common/components/maps/LineMap.tsx
  common/components/maps/diagrams/commands.ts
  common/components/maps/diagrams/diagram.ts
  common/components/maps/diagrams/execute.ts
  common/components/maps/diagrams/index.ts
  common/components/maps/diagrams/lines.ts
  common/components/maps/diagrams/path.ts
  common/components/maps/diagrams/types.ts
  common/components/maps/index.ts
  common/components/maps/useDiagramCoordinates.ts
  common/components/maps/useLineTooltip.ts
  modules/slowzones/SlowZonesDetails.tsx
  modules/slowzones/SystemSlowZonesDetails.tsx
  modules/slowzones/map/SlowZonesMap.tsx
  modules/slowzones/map/SlowZonesTooltip.tsx
  modules/slowzones/map/segment.ts
  package-lock.json
  package.json
Labels: dependencies, frontend

#992 Update monthly data up to May 2024
  common/constants/dates.ts
  server/bus/bus2train.py
  server/chalicelib/date_utils.py
Labels: backend, frontend

#1001 Adding commuter rail ridership to dashboard
  common/components/nav/CommuterRailDropdown.tsx
  common/components/nav/MenuDropdown.tsx
  common/components/notices/BetaDataNotice.tsx
  common/components/notices/GobbleDataNotice.tsx
  common/components/notices/SameDayNotice.tsx
  common/constants/baselines.ts
  common/constants/colors.ts
  common/constants/dashboardTabs.ts
  common/constants/dates.ts
  common/constants/pages.ts
  common/constants/stations.ts
  common/layouts/DashboardLayout.tsx
  common/state/dateStore.ts
  common/state/defaults/dateDefaults.ts
  common/styles/general.ts
  common/types/lines.ts
  common/types/router.ts
  common/utils/ridership.ts
  common/utils/router.tsx
  modules/dashboard/DesktopHeader.tsx
  modules/landing/LineButton.tsx
  modules/landing/LineSelectionLanding.tsx
  modules/landing/charts/OverallRidershipChart.tsx
  modules/navigation/SideNavigation.tsx
  modules/ridership/RidershipDetails.tsx
  modules/ridership/RidershipGraph.tsx
  modules/ridership/RidershipGraphWrapper.tsx
  modules/ridership/RidershipWidget.tsx
  modules/ridership/utils/utils.ts
  modules/slowzones/SlowZonesWidget.tsx
  pages/[line]/index.tsx
  pages/[line]/ridership.tsx
Labels: frontend

#988 Adding more bus routes!
  common/constants/baselines.ts
  common/constants/bus_constants/10.json
  common/constants/bus_constants/11.json
  common/constants/bus_constants/14.json
  common/constants/bus_constants/18.json
  common/constants/bus_constants/26.json
  common/constants/bus_constants/29.json
  common/constants/bus_constants/30.json
  common/constants/bus_constants/31.json
  common/constants/bus_constants/35.json
  common/constants/bus_constants/36.json
  common/constants/bus_constants/37.json
  common/constants/bus_constants/38.json
  common/constants/bus_constants/42.json
  common/constants/bus_constants/43.json
  common/constants/bus_constants/44.json
  common/constants/bus_constants/51.json
  common/constants/bus_constants/69.json
  common/constants/bus_constants/7.json
  common/constants/bus_constants/8.json
  common/constants/bus_constants/80.json
  common/constants/bus_constants/83.json
  common/constants/bus_constants/87.json
  common/constants/bus_constants/88.json
  common/constants/bus_constants/90.json
  common/constants/bus_constants/93.json
  common/constants/bus_constants/94.json
  common/constants/bus_constants/95.json
  common/constants/bus_constants/96.json
  common/constants/bus_constants/97.json
  common/constants/bus_constants/99.json
  common/constants/dates.ts
  common/constants/stations.ts
  common/types/lines.ts
  server/bus/bus2train.py
  server/bus/check_latest_manifests.sh
  server/bus/gen_bus_data.sh
  server/bus/gen_manifests.sh
  server/bus/gen_stop_list.sh
  server/bus/stop_list.py
  server/chalicelib/date_utils.py
Labels: backend, frontend
