Repository transitmatters/t-performance-dash, pull requests merged in 2024-01, with the labels that each got.

#924 Adding 220/221/222 bus route
  common/components/widgets/StationSelectorWidget.tsx
  common/constants/baselines.ts
  common/constants/bus_constants/220-221-222.json
  common/constants/stations.ts
  common/types/lines.ts
  common/utils/stations.ts
  server/bus/bus2train.py
  server/bus/check_latest_manifests.sh
  server/bus/gen_latest_bus_data.sh
  server/bus/gen_manifests.sh
  server/bus/gtfs_archive.py
Labels: backend, frontend

#928 Add bus routes 9 and 16
  common/constants/baselines.ts
  common/constants/bus_constants/114-116-117.json
  common/constants/bus_constants/15.json
  common/constants/bus_constants/16.json
  common/constants/bus_constants/57.json
  common/constants/bus_constants/66.json
  common/constants/bus_constants/9.json
  common/constants/stations.ts
  common/types/lines.ts
  common/utils/middleware.ts
  server/bus/check_latest_manifests.sh
  server/bus/gen_bus_data.sh
  server/bus/gen_latest_bus_data.sh
  server/bus/gen_manifests.sh
Labels: backend, frontend

#922 fix(slow_zones): make green line slow zones page unselectable
  common/components/nav/SubwayDropdown.tsx
  common/types/lines.ts
  pages/[line]/slowzones.tsx
Labels: frontend

#929 Add a lot more bus routes!
  common/constants/baselines.ts
  common/constants/bus_constants/17-19.json
  common/constants/bus_constants/21.json
  common/constants/bus_constants/34.json
  common/constants/bus_constants/47.json
  common/constants/bus_constants/61-70-170.json
  common/constants/bus_constants/86.json
  common/constants/bus_constants/89.json
  common/constants/stations.ts
  common/types/lines.ts
  common/utils/ridership.ts
  common/utils/stations.ts
  modules/ridership/RidershipDetails.tsx
  modules/ridership/RidershipWidget.tsx
  server/bus/check_latest_manifests.sh
  server/bus/gen_bus_data.sh
  server/bus/gen_manifests.sh
Labels: backend, frontend

#919 Cleanup code ahead of gobble
  common/api/datadashboard.ts
  common/api/hooks/dwells.ts
  common/api/hooks/headways.ts
  common/api/hooks/traveltimes.ts
  common/components/alerts/LegendAlerts.tsx
  common/components/nav/CommuterRailRouteSelection.tsx
  common/components/nav/NavSection.tsx
  common/components/nav/NavSectionHeader.tsx
  common/constants/licenses/licenseInfos.json
  common/types/api.ts
  common/types/lines.ts
  common/types/router.ts
  common/utils/router.tsx
  package-lock.json
  package.json
  server/chalicelib/date_utils.py
  server/chalicelib/s3_historical.py
  server/scripts/generate_line_files.py
Labels: dependencies, backend, frontend

#932 Update LICENSE
  LICENSE
Labels: documentation

#931 Add by-hour trips histogram to Service details page
  common/components/charts/ByHourHistogram/ByHourHistogram.stories.tsx
  common/components/charts/ByHourHistogram/ByHourHistogram.tsx
  common/components/charts/ByHourHistogram/index.ts
  common/components/charts/ByHourHistogram/styles.ts
  common/components/charts/ByHourHistogram/types.ts
  common/components/charts/TimeSeriesChart/TimeSeriesChart.tsx
  common/components/graphics/ChartPlaceHolder.tsx
  common/components/inputs/DateSelection/OverviewDateSelection.tsx
  common/components/maps/LineMap.module.css
  common/components/widgets/Widget.tsx
  common/components/widgets/WidgetPage.tsx
  common/components/widgets/WidgetTitle.tsx
  common/components/widgets/index.ts
  common/layouts/DashboardLayout.tsx
  common/state/utils/dateStoreUtils.ts
  common/types/router.ts
  common/utils/date.ts
  common/utils/router.tsx
  modules/predictions/charts/PredictionsBinsGraphWrapper.tsx
  modules/predictions/charts/PredictionsGraphWrapper.tsx
  modules/ridership/RidershipDetails.tsx
  modules/ridership/SystemRidershipDetails.tsx
  modules/service/DailyServiceHistogram.tsx
  modules/service/ScheduledAndDeliveredGraph.tsx
  modules/service/ServiceDetails.tsx
  modules/service/ServiceHoursGraph.tsx
  modules/slowzones/SlowZonesDetails.tsx
  modules/slowzones/SystemSlowZonesDetails.tsx
  modules/speed/SpeedDetailsWrapper.tsx
  modules/tripexplorer/BusTripGraphs.tsx
  modules/tripexplorer/SubwayTripGraphs.tsx
  package-lock.json
  package.json
Labels: dependencies, frontend

#934 Adding more bus routes to the dashboard!
  common/constants/baselines.ts
  common/constants/bus_constants/104-109.json
  common/constants/bus_constants/111.json
  common/constants/bus_constants/16.json
  common/constants/bus_constants/17-19.json
  common/constants/bus_constants/21.json
  common/constants/bus_constants/220-221-222.json
  common/constants/bus_constants/34.json
  common/constants/bus_constants/39.json
  common/constants/bus_constants/4.json
  common/constants/bus_constants/41.json
  common/constants/bus_constants/45.json
  common/constants/bus_constants/47.json
  common/constants/bus_constants/55.json
  common/constants/bus_constants/61-70-170.json
  common/constants/bus_constants/85.json
  common/constants/bus_constants/9.json
  common/constants/bus_constants/91.json
  common/constants/bus_constants/92.json
  common/constants/stations.ts
  common/types/lines.ts
  common/utils/stations.ts
  server/bus/check_latest_manifests.sh
  server/bus/gen_bus_data.sh
Labels: backend, frontend

#939 fix(trip-explorer): disable speed between stations for green line
  modules/tripexplorer/SubwayTripGraphs.tsx
Labels: frontend

#935 add csv download link to speed, prediction accuracy, service, ridership
  common/components/buttons/DownloadButton.tsx
  common/components/charts/AggregateLineChart.tsx
  common/components/charts/SingleDayLineChart.tsx
  common/components/charts/TimeSeriesChart/TimeSeriesChart.tsx
  common/types/charts.ts
  common/types/dataPoints.ts
  common/utils/csv.ts
  modules/dwells/charts/DwellsAggregateChart.tsx
  modules/headways/charts/HeadwaysAggregateChart.tsx
  modules/predictions/charts/PredictionsGraph.tsx
  modules/ridership/RidershipGraph.tsx
  modules/service/ServiceGraph.tsx
  modules/service/ServiceHoursGraph.tsx
  modules/speed/charts/SpeedBetweenStationsAggregateChart.tsx
  modules/speed/charts/SpeedBetweenStationsSingleChart.tsx
  modules/speed/charts/SpeedGraph.tsx
  modules/traveltimes/charts/TravelTimesAggregateChart.tsx
  modules/traveltimes/charts/TravelTimesSingleChart.tsx
Labels: frontend

#936 Updating Pandas to 2.x
  common/constants/dates.ts
  server/bus/setup_bus_input.sh
  server/poetry.lock
  server/pyproject.toml
Labels: dependencies, backend, frontend

#941 fix(station-speeds): correct distances for glx => rest of green line
  common/constants/station_distances.json
  modules/tripexplorer/SubwayTripGraphs.tsx
  server/scripts/update_station_distances.py
Labels: backend, frontend

#943 Shows gobble data in the dashboard
  common/components/notices/BusDataNotice.tsx
  common/components/notices/GobbleDataNotice.tsx
  common/components/notices/SameDayNotice.tsx
  common/components/notices/TerminusNotice.tsx
  common/components/widgets/WidgetPage.tsx
  common/constants/dates.ts
  modules/ridership/RidershipDetails.tsx
  modules/ridership/RidershipWidget.tsx
  modules/tripexplorer/TripExplorer.tsx
  server/chalicelib/s3.py
  server/chalicelib/s3_historical.py
  server/rapid/process_events.py
  server/rapid/setup_rapid_input.sh
  server/scripts/generate_line_files.py
  styles/dashboard.css
Labels: backend, frontend

#944 Improve error message on timedout requests
  common/components/graphics/ChartPlaceHolder.tsx
  common/components/notices/ErrorNotice.tsx
  server/app.py
Labels: backend, frontend
