Repository transitmatters/t-performance-dash, pull requests merged in 2024-05, with the labels that each got.

#976 Replace calls to performance API with LAMP data (Version 4.1)
  .github/workflows/deploy.yml
  README.md
  common/components/charts/SingleDayLineChart.tsx
  common/types/charts.ts
  deploy.sh
  package-lock.json
  package.json
  server/app.py
  server/chalicelib/MbtaPerformanceAPI.py
  server/chalicelib/aggregation.py
  server/chalicelib/data_funcs.py
  server/chalicelib/date_utils.py
  server/chalicelib/parallel.py
  server/chalicelib/s3.py
  server/chalicelib/s3_alerts.py
  server/chalicelib/s3_historical.py
  server/cloudformation.json
  server/refill_alerts.py
Labels: ci/cd, dependencies, backend, frontend, documentation

#966 fix: just back again with some spelling/grammar tightening up
  common/components/notices/BetaDataNotice.tsx
  common/components/notices/BusDataNotice.tsx
  common/components/notices/GobbleDataNotice.tsx
  common/components/notices/TerminusNotice.tsx
Labels: frontend

#981 Move monthly rapid data processing into mbta-performance repo
  server/rapid/gen_latest_rapid_data.sh
  server/rapid/gen_rapid_events.sh
  server/rapid/process_events.py
  server/rapid/setup_rapid_input.sh
Labels: backend

#984 Add additional explainer text around prediction data delivery
  README.md
  modules/predictions/PredictionsDetails.tsx
Labels: frontend, documentation
