Repository transitmatters/t-performance-dash, pull requests merged in 2025-02, with the labels that each got.

#1027 Exclude the Mattapan line from landing graphs
  common/types/lines.ts
  modules/landing/utils.ts
Labels: frontend

#1030 Fix landing chart data labels
  common/constants/charts.ts
  modules/landing/charts/OverallRidershipChart.tsx
  modules/landing/charts/OverallServiceChart.tsx
  modules/landing/charts/OverallSpeedChart.tsx
  modules/landing/utils.ts
Labels: frontend

#1035 Fix typo and adjust phrasing
  common/components/notices/BetaSlowZoneDataNotice.tsx
  common/types/basicWidgets.tsx
  package.json
Labels: dependencies, frontend

#1040 Updating baseline speed
  common/constants/baselines.ts
  modules/landing/utils.ts
Labels: frontend

#1036 Fix red line ashmont station selection
  common/components/widgets/StationSelectorWidget.tsx
  common/utils/stations.ts
  modules/tripexplorer/TripExplorer.tsx
Labels: frontend

#1039 Add some basic aggregate bunched stats
  common/types/charts.ts
  common/utils/widgets.ts
  modules/headways/HeadwaysAggregateWrapper.tsx
  server/chalicelib/aggregation.py
  server/poetry.lock
  server/pyproject.toml
Labels: dependencies, backend, frontend
