Repository transitmatters/t-performance-dash, pull requests merged in 2025-01, with the labels that each got.

#1017 feat: Add Green Line Slow Zones
  common/components/nav/SubwayDropdown.tsx
  common/components/notices/BetaSlowZoneDataNotice.tsx
  common/constants/pages.ts
  modules/dashboard/Overview.tsx
  modules/slowzones/SlowZonesDetails.tsx
  modules/slowzones/SlowZonesWidget.tsx
  modules/slowzones/SystemSlowZonesDetails.tsx
  modules/slowzones/charts/TotalSlowTime.tsx
  modules/slowzones/map/SlowZonesMap.stories.tsx
  modules/slowzones/types.ts
  package-lock.json
  package.json
  pages/[line]/slowzones.tsx
Labels: feature, dependencies, frontend

#1026 Hide beta warning on slow zones other than GL
  common/components/notices/BetaSlowZoneDataNotice.tsx
Labels: frontend

#956 Adding the Mattapan trolley
  common/api/alerts.ts
  common/components/graphics/styles/spinnerFillColor.ts
  common/components/nav/MenuDropdown.tsx
  common/components/nav/SubwayDropdown.tsx
  common/components/nav/SubwaySection.tsx
  common/constants/baselines.ts
  common/constants/colors.ts
  common/constants/licenses/licenseInfos.json
  common/constants/lines.ts
  common/constants/pages.ts
  common/constants/stations.json
  common/styles/general.ts
  common/types/lines.ts
  common/utils/router.tsx
  modules/dashboard/Overview.tsx
  modules/predictions/utils/utils.ts
  modules/slowzones/SlowZonesWidget.tsx
  next.config.js
  package-lock.json
  package.json
  server/chalicelib/constants.py
  server/chalicelib/delays.py
  server/chalicelib/service_hours.py
  server/chalicelib/speed.py
Labels: feature, dependencies, backend, frontend
